extends pug/layout.pug

block head
  title Client Testimonials for Internationalization with locize
  link(rel="canonical", href="/customers.html")
  

block headDescription
  meta(name='description', content='locize client feedbacks - actual testimonials from project managers, developers and tech-companies')
  meta(property='og:title', content='Client Testimonials for Internationalization with locize')
  meta(property='og:description', content='locize client feedbacks - actual testimonials from project managers, developers and tech-companies')
  meta(name='twitter:title', content='Client Testimonials for Internationalization with locize')
  meta(name='twitter:description', content='locize client feedbacks - actual testimonials from project managers, developers and tech-companies')

block content

  section.testimonials.section-primary
    .container
      .row
        .col-lg-12.text-center
          .section-heading(style="margin-bottom: 30px;")
            h2 Customer Success Stories
            p.text-muted Learn from the success stories of our customers!
            hr

      .testimonial-container(translated="")
        .row
          .col-lg-6.col-md-6.col-sm-12
            .testimonial(style="height: 580px;")
              div(style='margin: -30px -20px 0;')
                img(style='width: 100%; max-height: initial; margin-bottom: 0;', src='img/stories/immersive.gif' alt="immersive" loading="lazy")
              .text-center(style='background-color: #ddd; margin: 0px -20px 10px; padding: 10px;')
                a.btn.btn-outline.btn-sm(href='/blog/immersive-locize/' target="_blank") Read the story
              .testimonial-content
                h3.story-title Localization at Immersive Communities
                p How Immersive Communities leveraged locize to manage localization?
                a(href='https://betterprogramming.pub/how-i-built-a-social-network-in-4-years-as-a-solo-developer-4af70fb2d4c8' target="_blank") Read also the full story how Mario built this social network in 4 years as a solo developer.
              .author
                hr
                | Mario Stopfer, Immersive Communities
          .col-lg-6.col-md-6.col-sm-12
            .testimonial(style="height: 580px;")
              div(style='margin: -30px -20px 0;')
                img(style='width: 100%; max-height: initial; margin-bottom: 0;', src='img/stories/networkme.gif' alt="networkme" loading="lazy")
              .text-center(style='background-color: #ddd; margin: 0px -20px 10px; padding: 10px;')
                a.btn.btn-outline.btn-sm(href='/blog/networkme-locize/' target="_blank") Read the story
              .testimonial-content
                h3.story-title Localization at Networkme
                p How Networkme became at least 20% more productive?
                p(style="font-size: 13px;") Check out how Networkme is empowering the copywriters with the autonomy to move at the speed they expect.
              .author
                hr
                | Marcelo Manteigas, Networkme
        
        .row
          .col-lg-4.col-md-4.col-sm-12#avocode
            .testimonial(style="height: 580px;")
              div(style='margin: -30px -20px 0;')
                img(style='width: 100%; max-height: initial; margin-bottom: 0;', src='img/stories/avocode.gif' alt="avocode" loading="lazy")
              .text-center(style='background-color: #ddd; margin: 0px -20px 10px; padding: 10px;')
                a.btn.btn-outline.btn-sm(href='https://blog.avocode.com/how-we-translated-the-avocode-website-written-in-next-js-with-the-i18next-package-2-2-9239ddd730f0' target="_blank") Read the story
              .testimonial-content
                h3.story-title How we translated the Avocode website written in Next.js with the i18next package
                p How to translate a website that is always changing?
              .author
                hr
                | Matouš Roskovec, Avocode.com

          .col-lg-4.col-md-4.col-sm-12
            .testimonial(style="height: 580px;")
              div(style='margin: -30px -20px 0;')
                img(style='width: 100%; max-height: initial; margin-bottom: 0;' src='img/stories/reactintl.gif' alt="react intl" loading="lazy")
              .text-center(style='background-color: #ddd; margin: 0px -20px 10px; padding: 10px;')
                a.btn.btn-outline.btn-sm(href='https://itnext.io/reactintl-namespaces-2ba85d59133f' target="_blank") Read the story
              .testimonial-content
                h3.story-title ReactIntl + Namespaces + locize
                p How ReactIntl in combination with lociize helps you with internationalization and localisation related tasks in your project.
              .author
                hr
                | Maciej Warszawski

          .col-lg-4.col-md-4.col-sm-12
            .testimonial(style="height: 580px;")
              div(style='margin: -30px -20px 0;')
                img(style='width: 100%; max-height: initial; margin-bottom: 0;', src='img/stories/hypertrend.gif' alt="hypertrend" loading="lazy")
              .text-center(style='background-color: #ddd; margin: 0px -20px 10px; padding: 10px;')
                a.btn.btn-outline.btn-sm(href='http://www.hypertrends.com/2017/11/localization-using-locize/' target="_blank") Read the story
              .testimonial-content
                h3.story-title Localization as a Service using locize
                p So you manage Localizations in Word? Excel? JSON? XML? Notepad? Believe it or not, we’ve tried it all.
              .author
                hr
                | Anup Marwadi, Hypertrends.com

  section#testimonials.testimonials.section-gray
    .container
      .row
        .col-lg-12.text-center
          .section-heading(style="margin-bottom: 30px;")
            h2 Customer Testimonials
            p.text-muted Hear what our customers have to say!
            hr
      .testimonial-container(translated="")
        .row

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth(style="height: 620px;")
              .testimonial-title
                img.grayscale(style='max-height: 60px;' src='img/customers/finreg.png' alt="finreg" loading="lazy")
              .testimonial-content
                h3(style="display: none;") locize is a fantastic product for various reasons
                p(style="font-size: 16px;") We’ve been using locize for about 6 months for 2 different sites. locize is a fantastic product for various reasons:
                ul(style="font-size: 15px;")
                  li Easy interface to administer translations. One can control exactly what each translator can see and they love using it. The interface also makes it easy to see what translations are missing as well as split up your application into different namespaces.
                  li Great integration into front end javascript. We are using VUE and there is an excellent 2 way flow where the site can pull the translations, but also use the API to send new keys.
                  li The pricing is different from other services, but much more fair. You pay more if you use more, rather than one giant fee.
                  li The support is prompt and very helpful.
                  li If the site is not business critical, the translate all via Google Translate is a great feature!
              .author
                hr
                | David Silverman, CTO
                br
                a(href='https://www.globalfinreg.com' target='_blank') Global Finreg A/S


          .col-lg-6.col-md-4.col-sm-12#logiscool
            .testimonial.testimonial-fullwidth(style="height: 620px;")
              .testimonial-title
                img.grayscale(style='max-height: 60px;' src='img/customers/logiscool.png' alt="logiscool" loading="lazy")
              .testimonial-content
                h3(style="display: none;") Using i18next as our international framework enables us to use the same technology around our whole software stack, regardless the actual backend or framework we use. locize is the icing on the cake – it made translation management unspeakably easier.
                p(style="font-size: 16px;") At Logiscool, we teach kids programming in more than ten countries. While the universal language of programming is English, managing our website translations for a growing number of languages quickly became a challenge.
                p(style="font-size: 16px;") Using i18next as our international framework enables us to use the same technology around our whole software stack, regardless the actual backend or framework we use. locize is the icing on the cake – it made translation management unspeakably easier.
                p(style="font-size: 16px;") We love the editor support for in-text HTML tags and there’s finally someone who’s prepared to handle plurals by the book. locize also helps us staying in touch with our growing number of translators at a daily basis, while the locize API enables us to safely integrate with our build systems. Thank you!
              .author
                hr
                | Miklós Fülöp, CTO
                br
                a(href='https://www.logiscool.com' target='_blank') Logiscool

        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 40px;', src='img/customers/ke-chain.png' alt="ke chain" loading="lazy")
              .testimonial-content
                h3(style="display: none;") We integrated locize within a day using the React i18n packages available. It was a frictionless experience integrating it and a frictionless experience adding the translations. It is ideal for a team that want to stay agile without imposing a forced translation flow.
                p(style="font-size: 16px;") We use locize to translate our product KE-chain. KE-chain is a cloud-based software product used for digital registrations in the construction and infra industry and now available in multiple languages.
                p(style="font-size: 16px;") We integrated locize within a day using the React i18n packages available. It was a frictionless experience integrating it and a frictionless experience adding the translations. It is ideal for a team that want to stay agile without imposing a forced translation flow.
                p(style="font-size: 16px;") The cost structure suited our use better than alternative solutions. We like using the translation hints by services such as Google, to help us to get 'something' quick which may be altered later by a native speaker.
              .author
                hr
                | Jochem Berends, Technical Director
                br
                a(href='https://www.ke-chain.com' target='_blank') ke-chain.com

          .col-lg-6.col-md-4.col-sm-12#worldshopping
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px;', src='img/customers/worldshopping.png' alt="worldshopping" loading="lazy")
              .testimonial-content
                h3(style="display: none;") locize is a really outstanding service due to the following points...
                p It's a really outstanding service due to the following points.
                ul(style="font-size: 18px;")
                  li The fact that management of several languages can be corrected quickly through the operation of cross border commerce sites
                  li The fact that in addition to words, the URL and images can be managed too
                  li The fact that even those who are not engineers can operate it easily
                p We use locize not only for word but also for URL and image’s URL. We have separated help pages for en, ja, zh, zh-TW. i18next automatically switched the link to appropriated lang help’s page. Also we have separated images which contain en, ja, zh, zh-TW characters.
              .author
                hr
                | KAZUYOSHI NAKAZATO, ZIG-ZAG,INC
                br
                a(href='https://www.worldshopping.global/en' target='_blank') worldshopping.global


        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/wuxus.png' alt="wuxus" loading="lazy")
              .testimonial-content
                p
                  | locize enables Wuxus to roll out our digital infrastructure for the transportation industry, on a global scale, with ease.
                p
                  | Great tool, easy to implement, easy to use, great service and support. Asked for a feature - available the next day.
              .author
                hr
                | Lars Bryrup, Head of Tech
                br
                a(href='http://www.wuxus.com/' target='_blank') wuxus.com

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 45px', src='img/customers/shoprepublic.png' alt="shoprepublic" loading="lazy")
              .testimonial-content
                p
                  | 'With locize.com we could speed up our whole translation process by more than 50%!'
              .author
                hr
                | Christian Schab, Founder
                br
                a(href='https://www.shoprepublic.de/' target='_blank') ShopRepublic GmbH

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 45px', src='img/customers/withlocals.png' alt="with locals" loading="lazy")
              .testimonial-content
                p locize has enabled Withlocals to localise effectively our website in several languages. Given that Withlocals is all about personal experiences & authenticity, being able to take over the delicate task of translating our platform’s content made locize a valuable partner for us.
                p Thanks to this collaboration we have been able to focus fully on the development of our product, and at the same time provide our translators worldwide with a user-friendly tool.
              .author
                hr
                | Bartosz Kuzmicki, CTO
                br
                a(href='https://www.withlocals.com/' target='_blank') Withlocals

        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/atroo.png' alt="atroo" loading="lazy")
              .testimonial-content
                p We utilize locize for several projects in the publishing industry. The team of locize made it a no brainer to shift over from a premature self-hosted localization tool to their SaaS.
                p In the rare case that features were missing, they have been implemented in no time. The support and feedback is great and the tool is easy to use.
                p We have many on premise installations without access to the internet (thus not using locizes cdn feature), it should be mentioned that integrating locize into our build and release workflow (gulp, gitlab ci) has been a breeze. I’d definitely recommend using it.
              .author
                hr
                | Robert Krüger, Co-owner
                br
                a(href='https://www.atroo.de/' target='_blank') atroo GbR

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/hypertrend.png' alt="hypertrend" loading="lazy")
              .testimonial-content
                p “locize promises a Continuous Localization Lifecycle and delivers it with a bang.”
                p Using locize, we have been able to translate over 40,000 key/value pairs for a significantly large application within a matter of days. It cannot get better than this.
                p Read the full 
                  a(href="http://www.hypertrends.com/2017/11/localization-using-locize/", target="_blank") success story.
              .author
                hr
                | Anup Marwadi, CEO
                br
                a(href='http://www.hypertrends.com/' target='_blank') Hypertrends Global Inc


          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/catena.png' alt="catena" loading="lazy")
              .testimonial-content
                p locize is a great service that helps speed up development time by allowing our engineers to focus on building features instead of managing and maintaining translation tools.
                p They provided fantastic customer support that was very quick to respond and help us with any questions we had.
              .author
                hr
                | Dylan Seago, Lead Developer
                br
                a(href='https://explorecatena.com/' target='_blank') Catena

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/coherent.png' alt="coherent" loading="lazy")
              .testimonial-content
                p We develop bespoke software and many of our clients are international.
                p locize has enabled us to develop software for clients whose native language is not English, and allow them to translate the software at their own pace.
              .author
                hr
                | James Hadley, Managing Director
                br
                a(href='https://coherent.net' target='_blank') Coherent Software

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/appointedd.png' alt="appointedd" loading="lazy")
              .testimonial-content
                p locize has enabled us to roll out scalable multi-language support to our client-facing online booking interfaces.
                p Integrating the locize API and CLI into our build process allows our product team to add new languages and modify translations on the fly without requiring any code changes.
              .author
                hr
                | Greg Dickson, Senior Developer
                br
                a(href='https://www.appointedd.com' target='_blank') Appointedd

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/bookingfactory.png' alt="bookingfactory" loading="lazy")
              .testimonial-content
                p
                  | locize is a great tool for us to localise our hotel software solution into multiple languages for both users and their guests. We chose locize because of their flexible pricing structure that is based on usage instead of a large monthly fee.
                p
                  | We already have some great early results and now our users can translate themselves into their local language!
              .author
                hr
                | Evan Davies, CEO of The Booking Factory
                br
                a(href='https://thebookingfactory.com' target='_blank') The Booking Factory

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/vgpro.png' alt="vgpro" loading="lazy")
              .testimonial-content
                p
                  | Having a platform that makes it easy to localize your website is great, but also integrating the translation in real time to your website is just amazing.
                p
                  | I have been using locize and it made it easier to connect with translators and get the job done. I would recommend to anyone looking for the same.
              .author
                hr
                | Pierre Ortega, Lead Developer
                br
                a(href='http://vgpro.gg' target='_blank') VGPRO.gg

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/classnet.png' alt="classnet" loading="lazy")
              .testimonial-content
                p
                  | locize is an awesome way to localize your website.
                p
                  | It makes translating your existing content as easy as it could possibly get and the integration takes just one line of code.
              .author
                hr
                | Alexander Bayerl, Student
                br
                a(href='https://classnet.info/?lng=en' target='_blank') classnet

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/chilldev.png' alt="chilldev" loading="lazy")
              .testimonial-content
                p
                  | locize took all the technical efforts related to localizing our frontend off from our shoulders with just a few lines of configuration.
                p
                  | Replaced our old complex toolchain with just few API calls providing a user-friendly solution for translators at once.
              .author
                hr
                | Rafał Wrzeszcz, Owner
                br
                a(href='https://chilldev.pl/' target='_blank') chilldev.pl

          .col-lg-3.col-md-4.col-sm-12#fideli
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/fideli.jpg' alt="fideli" loading="lazy")
              .testimonial-content
                p
                  | Using locize and its tools (i18next) saves us a LOT of time by not thinking about the texts and focusing on development only. It's then easy and fast to input all the translations on locize admin UI.
                p Thanks locize Team!
              .author
                hr
                | Huafu Gandon, Co-founder
                br
                a(href='https://fide.li' target='_blank') Fidéli SAS


        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 40px; max-width: 100%;', src='img/customers/lynk.png' alt="lynk" loading="lazy")
              .testimonial-content
                p Thanks for your service and for your support.
                p I strongly believe you guys have the best package on the market, and I’m happy to get our company to use your full offered experience.
              .author
                hr
                | Yaroslaff Fedin, Frontend Engineer
                br
                a(href='https://lynk.global' target='_blank') Lynk

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/wavy.png' alt="wavy" loading="lazy")
              .testimonial-content
                p "With locize, we have been able to simplify our localization process and bring our app to a global audience.""
              .author
                hr
                | Abel Chalier, CTO
                br
                a(href='https://wavy.co' target='_blank') wavy

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/edzo.png' alt="edzo" loading="lazy")
              .testimonial-content
                p "I find your project great and brilliant. Basically, what I like is the money we save by using your system instead of asking our developers to change our international labels.The tool is simple, the team is happy and we think about storing all our labels and edzo pre-determined sentences on your platform."
              .author
                hr
                | Thibault Montoya, CEO
                br
                a(href='https://www.edzo.ai' target='_blank') edzo

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/clevy.svg' alt="clevy" loading="lazy")
              .testimonial-content
                p Maintaining multiple languages is one of the technical challenges of building a platform for global users. locize has been integrating very well into our CI workflow for a few months and makes this complex process painless.
              .author
                hr
                | François Falala-Sechet, CTO
                br
                a(href='https://www.clevy.io' target='_blank') clevy.io

        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/geoimpact.png' alt="geoimpact" loading="lazy")
              .testimonial-content
                p
                  | By using locize we were able to translate our platform 
                  a(href='https://www.swissenergyplanning.ch' target='_blank') swissenergyplanning.ch
                  |  easily and without great effort, which is essential for a startup like us. To emphasize is that every team member is now able to change labels quickly.
                p Swiss Energy Planning is a cloud based and integrated software solution. The platform allows our customers to plan and monitor the energy transition throughout Switzerland at any location. Decision making becomes digital, collaborative and simple on the basis of comprehensive data on property level and business intelligence.
              .author
                hr
                | David Suter, Founder
                br
                a(href='https://www.geoimpact.ch' target='_blank') geoimpact

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 40px; max-width: 100%;', src='img/customers/retraced.png' alt="retraced" loading="lazy")
              .testimonial-content
                p At retraced we offer a blockchain-based, end-consumer focused, supply chain transparency platform for fashion brands, enabling them to communicate the stories behind their products.
                p We utilise locize throughout our infrastructure in two mobile applications, one web-app dashboard and a microservice for e-mail and communication handling. locize is a very reliable service and scales beautifully with the business.
              .author
                hr
                | Peter Merkert, Co-Founder and CTO
                br
                a(href='https://retraced.co' target='_blank') retraced GmbH

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/spt.png' alt="spt" loading="lazy")
              .testimonial-content
                p locize is an essential part of our ability to localise our platform for our users in over 110 different countries.
                p Their service has made it easy for our business to deliver high quality translations to our customers in 11 different languages.
              .author
                hr
                | Steven Bladeni, Chief Operating Officer
                br
                a(href='https://sportsperformancetracking.com/' target='_blank') Sports Performance Tracking

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 40px; max-width: 100%;', src='img/customers/fubotv.png' alt="fubotv" loading="lazy")
              .testimonial-content
                p locize has become a critical part of our localization workflow.
                p The tool has made translating our applications incredibly easy, and their customer support has been stellar.
              .author
                hr
                | Eddie Yoo, Senior Product Manager
                br
                a(href='https://www.fubo.tv' target='_blank') fubo tv

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/pigknows.png' alt="pigknows" loading="lazy")
              .testimonial-content
                p
                  | locize is a godsend for us, we have been manually dealing with translations for years and it requires a great deal of developer involvement, now we let our people translate without needing us.
                p Thanks!
              .author
                hr
                | Zach Curtis, CTO
                br
                a(href='https://www.PigKnows.com' target='_blank') PigKnows.com

          .col-lg-3.col-md-4.col-sm-12
            .testimonial
              .testimonial-title
                img.grayscale(style='max-height: 50px', src='img/customers/span.png' alt="span" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;")
                  | locize's translation management allowed us to release our mobile app that guides people from diagnosis to remission of type 2 diabetes in French, Arabic, and Spanish in a matter of days!
                p(style="font-size: 16px;")
                  | The development libraries for every platform/language made it extremely easy for us to integrate locize with i18n on React Native in Javascript.
              .author
                hr
                |  Patrick Samy, CEO
                br
                a(href='https://www.span.health' target='_blank') Span

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/quotepro.png' alt="quotepro" loading="lazy")
              .testimonial-content
                p
                  | Translations used to be a chore, and always out of date.

                p
                  | With locize, we can maintain our translations in realtime, providing a boost in both translation accuracy and productivity.
              .author
                hr
                | Brian Marquis, VP of Software Development
                br
                a(href='https://quoteprosolutions.com' target='_blank') Quotepro Inc
          
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/packlink.svg' alt="packlink" loading="lazy")
              .testimonial-content
                p Thanks to locize, we finally achieved a developer/product -friendly tool to work with, successfully outsource the translations-related tasks and fully automate our i18n workflow so both engineers and product managers can focus in what matters most to the company.
              .author
                hr
                | Ignacio Velazquez, Engineering Manager
                br
                a(href='https://www.packlink.com' target='_blank') Packlink
          
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/rduce.png' alt="rduce" loading="lazy")
              .testimonial-content
                p Being developers for over two decades we know what a beast it can be to tackle localization. We also knew we had to be very smart about how we spend the few developer resources we have since we´re a small company.
                p locize have really helped us getting this problem out of the way for our product Pixon.
                p Essentially making us beat much larger competitors when it comes to multi lingual support.
                p Thank you!
              .author
                hr
                | André Johansson, CTO
                br
                a(href='https://www.rduce.net' target='_blank') Rduce Complexity AB

        .row
          .col-lg-6.col-md-4.col-sm-12#realadvisor
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/realadvisor.png' alt="realadvisor" loading="lazy")
              .testimonial-content
                p Being a Swiss Startup, we had to launch our website in several languages at once.
                p We used i18next with React and were translating JSON files by hand, which was really cumbersome.
                p
                  | locize really changed everything for us because it allowed us to:
                  ul
                    li Let non-developers translate the website pages
                    li Decouple the translation process from application deployments
                    li Use Google translate straight from within the tool
                p Really recommended.
              .author
                hr
                | Joan Rodriguez, CEO
                br
                a(href='https://www.realadvisor.ch' target='_blank') RealAdvisor

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/ludwig.png' alt="ludwig" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") Being a startup that helps 1.5 million people with their English writing and translation, the translation of our website had to be both flawless and flawlessly managed.</br>After having tested different services we picked up locize and are extremely satisfied with it because:
                  ul(style="font-size: 15px;")
                    li It's easy to use for non-developers
                    li APIs are easy to use and allowed us to create a customized integration that suited our needs
                    li It helped us manage the simultaneous translation of Ludwig in 6 different languages at once without the need of recruiting an additional project manager
                    li We could invite external translators and gave them the right to edit their corresponding language
                    li The price is definitely worth the value and you only pay for what you use
              .author
                hr
                | Antonio Rotolo, CEO and Co-Founder
                br
                a(href='https://ludwig.guru' target='_blank') Ludwig.guru


        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/alchemist.png' alt="alchemist" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") We're a very small team, and wasting time rebuilding our app every time an adjustment or a new translation is needed is painful. locize has allowed us to host our i18n files in the cloud, therefore making it super easy for the marketing and product guys to translate and update them without the need to rebuild from scratch, saving us a lot of time!
              .author
                hr
                | Albert Casademont, Head of IT
                br
                a(href='https://thealchemistatelier.com' target='_blank') The Alchemist Atelier

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/iw_tech.svg' alt="iw_tech" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") locize feels like a product of an exceptionally high quality which the developers created with people’s needs in mind! We haven’t encountered any services of such high caliber in a while. The groupings of different sections and languages are remarkably handy, so are the supported versions and exporting. Thanks for the convenient tool!
              .author
                hr
                | Igor Alekhin, CEO & Founder
                br
                a(href='https://iweekender.com' target='_blank') iWeekender

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/juicar.svg' alt="juicar" loading="lazy")
              .testimonial-content
                p We're using locize to bring our e-car subscription to new countries and language regions. So far we're very happy because it offers a simple way to develop and improve our website and copy quickly.
              .author
                hr
                | Manuel Frick, Software Engineering
                br
                a(href='https://juicar.com' target='_blank') Juicar

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/shiftcrypto.png' alt="shiftcrypto" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") locize has been immensely useful in our efforts to translate the BitBoxApp, a Bitcoin wallet application, into our users' most demanded languages. Our main requirement was that the translator can see his translations in real time and verify it within the app to make sure that the translation fits contextually. locize’s plugin makes that super easy and streamlined.
              .author
                hr
                | Johannes Sternberg, Translation Manager
                br
                a(href='https://shiftcrypto.ch' target='_blank') Shift Cryptosecurity AG


        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/elephantlearning.png' alt="elephantlearning" loading="lazy")
              .testimonial-content
                p We are using locize to implement our internationalization and it has made the process extremely smooth.  We are able to use their online translate to quickly translate to other languages and their cloud helps us quickly fix errors if they make it through our auditing process.
              .author
                hr
                | Dr. Aditya Nagrath PhD, Chancellor
                br
                a(href='https://elephantlearning.com' target='_blank') Elephant Learning

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/carina.svg' alt="carina" loading="lazy")
              .testimonial-content
                p locize helped Carina deliver a web application in Spanish for essential workers [hospitals...] seeking emergency child care during COVID19.
              .author
                hr
                | Frank Martinez, Product Owner
                br
                a(href='https://carina.org' target='_blank') Carina, Inc.

          .col-lg-6.col-md-4.col-sm-12#photogram
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/photogram.png' alt="photogram" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") At Photogram, we serve clients from different regions and industries, speaking either German, Italian or English, so localization is fairly important to our product.
                p(style="font-size: 16px;") Before locize, we were using a custom JSON-based intl implementation for our React apps, which was hard to scale and maintain, and always costed a lot of time.
                p(style="font-size: 16px;") Switching to locize was pretty straightforward, thanks to i18next and the possiblity to import JSON files in the admin dashboard.
                p(style="font-size: 16px;") Now, as a developer, I don't have to think about translations anymore, as they just get created automatically and need to be filled in by another team in the dashboard, which is a killer feature!
              .author
                hr
                | Maximilian Torggler, Lead Software Developer
                br
                a(href='https://photogram.pro' target='_blank') Photogram


        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/nakipower.png' alt="nakipower" loading="lazy")
              .testimonial-content
                p Here at Naki we found in locize our perfect mate for easily managing and maintaining our products in over 6 languages!
                p As a product company which releases mobile applications throughout Europe, we were looking for a tool that allows us to easily involve who translate and keep the maintenance of the copywriting seamless.
                p Thanks to locize we improved the texts localization workflow, from the string translations up to the application build.
              .author
                hr
                | Youri Tolstoy, CTO
                br
                a(href='https://nakipower.com' target='_blank') Naki Power

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/willskill.svg' alt="willskill" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") Integrating locize into our clients projects has been supereasy, both from a technical perspective and a Client onboarding perspective. Using locize as our main source for localization we have effectively used the API's available on both our Front-End (React) and Back-End (Python/Django). Highly recommend using locize for teams that want to deliver software ready for an international market quickly!
              .author
                hr
                | Hassan Mian, CEO
                br
                a(href='https://www.willandskill.se' target='_blank') Will & Skill

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img(style='max-height: 50px; max-width: 100%;', src='img/customers/abb.png' alt="abb" loading="lazy")
              .testimonial-content
                p We're using locize for several projects, which offers different services for our international partners in the whole world.
                p Thanks to locize our localization workflow is faster, more efficient and modern.
              .author
                hr
                | Davide Mora, Digital Product Owner & Project Leader
                br
                a(href='https://abb.com' target='_blank') ABB
          
        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/panelista.png' alt="panelista" loading="lazy")
              .testimonial-content
                p locize makes it a lot easier to manage multiple languages. We quickly added a third language for our application, and it was pretty fun as well as there is a gamification component when always trying to reach 100% translated strings.
              .author
                hr
                | Anders Palm, Co-Founder
                br
                a(href='https://panelista.com' target='_blank') Panelista

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/barntools.png' alt="barntools" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") locize has made translating our web and mobile application incredibly easy. It enables our global team perform the translation work anywhere and anytime. We also get to maintain the translations in realtime.
                p(style="font-size: 17px;") It’s definitely a powerful tool when it comes to multi lingual support. 
              .author
                hr
                | Evan Feng, Manager of Information System
                br
                a(href='https://barntools.com' target='_blank') BarnTools

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/chax.png' alt="chax" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") We are a web development agency in Austria. Our customers have their customers in different countries. In Europe, you typically only have to drive for about an hour until someone speaks a language different to yours. So we were searching for a solution we can integrate directly into our process, and we found locize. It does everything we need and proved to be usable by our partners!
              .author
                hr
                | Simon Jiménez, CTO
                br
                a(href='https://chax.at' target='_blank') Chax.at

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/richland.jpeg' alt="richland" loading="lazy")
              .testimonial-content
                p(style="font-size: 20px;") locize kept us from reinventing the wheel. :-)
                p(style="font-size: 20px;") Its convenient,
                  br
                  | fast and
                  br
                  | affordable.
              .author
                hr
                | Mikhail Khusainov, CEO & founder
                br
                a(href='https://richland.im' target='_blank') RichLand
          
        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/frontdesk24.png' alt="frontdesk24" loading="lazy")
              .testimonial-content
                p(style="font-size: 15px;") We're using locize for translating Frontdesk24 (cloud Property Management System) from Russian to English and Hungarian.
                p(style="font-size: 15px;") It was pretty easy, and required just a little time of development, most of the work was done without coding and changing the system.
                p(style="font-size: 15px; margin-bottom: 0px;") We plan to offer Frontdesk24 outside Russia, and with the help of locize we can focus on other important aspects of the expansion.
              .author
                hr
                | Dmitriy Voronin, CIO
                br
                a(href='https://frontdesk24.ru' target='_blank') Frontdesk24

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/phaver.png' alt="phaver" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") We needed to quickly roll out a new language version of our platform and wanted to minimize time spent by developers and maximize scalability for new languages in the future.
                p(style="font-size: 17px;") locize was a great match allowing even non-technical people like myself to do translations in a friendly UI and edit those on the fly. 
              .author
                hr
                | Joonatan Lintala, CEO
                br
                a(href='https://www.phaver.com' target='_blank') Phaver

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/pilotene.svg' alt="pilotene" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") We use locize for all our REACT based web projects that we create for our customer. This simplifies the process of translation to Norwegian, and allows our customer to contribute to the translation process without knowing any coding.
                p(style="font-size: 15px; margin-bottom: 0px;") ProsessPilotene is Norway's largest company that focus on customer driven transformation with the use of Microsoft software, such as Dynamics 365, Teams and Azure.
              .author
                hr
                | Frode Stenstrøm, Senior advisor and COO
                br
                a(href='https://prosesspilotene.no' target='_blank') ProsessPilotene as

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/airtm.png' alt="airtm" loading="lazy")
              .testimonial-content
                p(style="font-size: 20px;") Since implementing locize on the Airtm platform, our product team has been able to quickly and easily make changes to text in production without wasting our developers' valuable time.
              .author
                hr
                | Alex Ziehm, Product Manager
                br
                a(href='https://www.airtm.com' target='_blank') Airtm
          
        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/rebill.png' alt="rebill" loading="lazy")
              .testimonial-content
                p(style="font-size: 20px;") locize is amazing because it allows me to translate or edit the content of our platform without having technical knowledge.
                p(style="font-size: 20px;") This allows our developers to focus on the new platform features and our core business.
              .author
                hr
                | Ariel Díaz Ailán, COO
                br
                a(href='https://rebill.to' target='_blank') Rebill, Inc.

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/czarnikow.jpg' alt="czarnikow" loading="lazy")
              .testimonial-content
                p For a global company such as Czarnikow, it is vital that we can provide multi-language access to our tools and services.
                p This is why we have worked with locize to provide translated language versions for Czapp, our interactive client platform.
                p As Czapp is a fast moving digitial service, locize allows us to simultaneously work on translations without impeding our innovative development work.
                img.grayscale(style='max-height: 30px; max-width: 100%; float: right;', src='img/customers/czapp.jpg')
              .author
                hr
                | Chris Hargraves, Head of 
                a(href='https://www.czapp.com' target='_blank') Czapp
                | , Marketing and Communications
                br
                a(href='https://www.czarnikow.com' target='_blank') Czarnikow

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/skodel.png' alt="skodel" loading="lazy")
              .testimonial-content
                p(style="font-size: 18px;") locize has proven to be a crucial part of our stack allowing us to quickly build wellbeing support solutions across a series of languages. Adding new languages and content is incredibly easy and I cannot understate how much time this tool will save you in managing simple and complex i18n setups.
              .author
                hr
                | Huon Peard, CTO and Co-Founder
                br
                a(href='https://skodel.com' target='_blank') Skodel
          
        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/spiff3d.svg' alt="spiff3d" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") locize has been instrumental to us at Spiff3D for use in quickly translating our English-only text to all languages we need to support. We found out about locize through an open-source package, and gave it a trial. 
                p(style="font-size: 17px;") The team has been responsive via email, and have solved all our issues quickly. The costs are competitive. And we're looking forward to continued use in the future as we expand the functionality of our platform which pushes boundaries.
                p(style="font-size: 17px;") We haven't fully utilized all the features yet, but look forward to some more integrations as our product roadmap expands into 2022.
                p(style="font-size: 17px; margin-bottom: 5px;") Keep up the good work.
              .author
                hr
                | Liam Parker, Senior Developer
                br
                a(href='https://spiff3d.com' target='_blank') Spiff3D

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/pool.png' alt="pool" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") We used to use a Google spreadsheet to manage all of our translation data, and it would constantly get messed up by contributors and our team.
                p(style="font-size: 17px;") Using locize has been a boon on our development process, and the developers don’t even need to get involved when adding new languages or translators! Fantastic.
              .author
                hr
                | Chuck Bergeron, Frontend Lead
                br
                a(href='https://pooltogether.com' target='_blank') PoolTogether Labs

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/redcross.svg' alt="redcross" loading="lazy")
              .testimonial-content
                p(style="font-size: 24px;") Thanks to the generous support and the features of locize, the headless websites of the Swiss Red Cross can be translated into different languages within a short time!
              .author
                hr
                | Thomas Imboden, Head of Web Office
                br
                a(href='https://support.redcross.ch' target='_blank') Swiss Red Cross
          
        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/maul.png' alt="maul" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;")
                  | We're a small but growing company that needed a way to easily translate our website to multiple languages.
                  br
                  | Having to redeploy our site every time to update translations was painful and time consuming.
                p(style="font-size: 18px;") It's so much more pleasant to work on translations now that we can update them through locize!
              .author
                hr
                | Hrafnkell Palsson, Cofounder and CTO
                br
                a(href='https://maul.is' target='_blank') maul

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/pitchler.svg' alt="pitchler" loading="lazy")
              .testimonial-content
                p(style="font-size: 16.5px;") We want to help jobs candidates and employers to find each other in a dysfunctional job market.
                p(style="font-size: 17.5px;") We found locize as a simple but powerful tool to use and engage people to help to translate both within our company and outside. Our development strategy is to use top of the line tools instead of develop it by ourselves.
              .author
                hr
                | Peter Thorin, founder and CEO
                br
                a(href='https://www.pitchler.com' target='_blank') Pitchler Global AB

          .col-lg-6.col-md-4.col-sm-12#beelance
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/beelance.png' alt="beelance" loading="lazy")
              .testimonial-content
                p(style="font-size: 18px;") locize helped us to easily manage translations in different languages on our platform.
                p(style="font-size: 18px;") We went from sending requests to the dev team to modify a static json file to anyone in the business team being able to edit on the fly and translate asynchronously as our translators don't have the same availabilities.
                p(style="font-size: 18px;") Support was also very reactive and fixed a bug in under 1 hour after it was reported. I would recommend for use with i18next on a React.js platform.
              .author
                hr
                | PY Bertaud, Product Owner
                br
                a(href='https://beelance.io' target='_blank') Beelance
          
        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/etranslate.png' alt="etranslate" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") The locize platform has successfully helped us to manage translation faster for our clients. We have used locize for around a year and once you get to know the interface, you will be surprised how many hours you can save managing translation of system strings in various formats.
                p(style="font-size: 16px;") The user interface is easy to use and it gives us a great and flexible overview of the languages for each project. Sometimes we need to work with export formats, as we work with the content in our own Translation Management system to benefit from translation memory from previous projects – here locize does an excellent job allowing us to export the string in JSON and XLIFF format, and afterwards import the strings smoothly back to the system. This is a great feature.
                p(style="font-size: 16px; margin-bottom: 10px;") We can highly recommend using locize for your translation projects.
              .author
                hr
                | Nick Rene Jensen, Partner and Co-Founder
                br
                a(href='https://etranslate.dk' target='_blank') eTranslate ApS

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/creadi.svg' alt="creadi" loading="lazy")
              .testimonial-content
                p(style="font-size: 19px;") Let's be honest, proper localization is hard. It's especially challenging in situations where you have to build on existing code. However, locize made that process extremely smooth. We could basically set up our language experiment within days, what otherwise would have taken months.
                p(style="font-size: 19px; margin-bottom: 10px;") What makes locize stand out from the rest is the focus on developer-friendly tools. These plugins for react and other popular front-end libraries made implementation a breeze. Together with an accessible editing platform, fair pricing and fantastic support, we can only but recommend locize as localization-as-a-service solution to everyone.
              .author
                hr
                | Christophe Schwyzer, Lead UI/Front-end
                br
                a(href='https://www.creadi.ch' target='_blank') Creadi AG

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/syarah.png' alt="syarah" loading="lazy")
              .testimonial-content
                p(style="font-size: 26px;") It's a useful tool, it helped us a lot when we started with implementing our website on React framework.
              .author
                hr
                | Firas Al Tunsi, Engineering Manager
                br
                a(href='https://syarah.com' target='_blank') Syarah Limited.

          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/dig-it-ally.png' alt="dig-it-ally" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px; margin-bottom: 10px;") We built a platform for fintechs to build B2B services. For example in digitalisation of a non-banking institution that is serving SMEs in 6 Central European countries with currency conversion and cross border payments.
                p(style="font-size: 17px; margin-bottom: 10px;") We launched CZ market first, followed by rolling out SK, DE and then even more. locize is instrumental in the rollout. We wanted to avoid the XLS hell with translations and introduce a standardised process instead. A unification of business terminology across applications was a must have requirement.
                p(style="font-size: 17px; margin-bottom: 10px;") To scale we included locize sync as a part of our CI/CD pipelines and introduced governance processes on top of namespaces across all versions.
                p(style="font-size: 17px; margin-bottom: 0px;") We've chosen locize because of the native integration with the i18n library we are using and also because of the usage based pricing.
              .author
                hr
                | Peter Hora, Product Manager
                br
                a(href='https://www.dig-it-ally.com' target='_blank') dig-it-ally

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/nfctron.png' alt="nfctron" loading="lazy")
              .testimonial-content
                p(style="font-size: 26px;") locize provides us a solution for easy management of translations for our services and web applications without a great effort.
              .author
                hr
                | Jan Šimek, CEO
                br
                a(href='https://www.nfctron.com' target='_blank') NFCtron a.s.

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/tegoly.svg' alt="tegoly" loading="lazy")
              .testimonial-content
                p We used locize to localize the frontend and backend for our Microsoft Teams app.
                p Here, locize has helped us enormously to shorten the internationalisation process and to massively accelerate the marketing of the app.
              .author
                hr
                | Sven Gosda, CEO and Founder
                br
                a(href='https://www.tegoly.com' target='_blank') tegoly GmbH
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Inmed",
                    "url": "https://www.tegoly.com",
                    "image": "https://locize.com/img/customers/tegoly.svg",
                    "member": {
                      "@type": "Person",
                      "name": "Sven Gosda"
                    }
                  },
                  "description": "We used locize to localize the frontend and backend for our Microsoft Teams app. Here, locize has helped us enormously to shorten the internationalisation process and to massively accelerate the marketing of the app.",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "We used locize to localize the frontend and backend for our Microsoft Teams app."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Here, locize has helped us enormously to shorten the internationalisation process and to massively accelerate the marketing of the app."
                      }
                    ]
                  }
                }
            
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/cirplus.png' alt="cirplus" loading="lazy")
              .testimonial-content
                p(style="margin-bottom: 2px;") We are using locize for more than 2 years.
                p We find it very convenient for the following reasons:
                ul
                  li Multi user support with role based access control without any limitations.
                  li Nicely integrated with i18n js SDK.
                  li Very fast and helpful support team.
                  li Automatic machine translation is nice feature if you have many translations and don’t want to wait for a translator to do the job for each translation.
                  li locize-cli is easy to use
              .author
                hr
                | Volkan Bilici, Co-Founder & CTO
                br
                a(href='https://www.cirplus.com' target='_blank') cirplus GmbH
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "cirplus GmbH",
                    "url": "https://www.cirplus.com",
                    "image": "https://locize.com/img/customers/cirplus.png",
                    "member": {
                      "@type": "Person",
                      "name": "Volkan Bilici"
                    }
                  },
                  "description": "We are using locize for more than 2 years. We find it very convenient for the following reasons: Multi user support with role based access control without any limitations. Nicely integrated with i18n js SDK. Very fast and helpful support team. Automatic machine translation is nice feature if you have many translations and don’t want to wait for a translator to do the job for each translation. locize-cli is easy to use",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "Multi user support with role based access control without any limitations."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Nicely integrated with i18n js SDK."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Very fast and helpful support team."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Automatic machine translation is nice feature if you have many translations and don’t want to wait for a translator to do the job for each translation."
                      },
                      {
                        "@type": "ListItem",
                        "name": "locize-cli is easy to use"
                      }
                    ]
                  }
                }
          
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/inmed.png' alt="inmed" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px; margin-bottom: 3px;") Using locize, we were able to move all the responsibility for texts and languages away from the developers.
                p(style="font-size: 16px; margin-bottom: 3px;") It is also disconnected from version release, as the translators can change it at any time, even after the release.
                p(style="font-size: 16px; margin-bottom: 0px;") The 'in context' feature is particularly useful, as it allows the translators to know the context inside the site without bothering the developers or making mistakes with out-of-context.
              .author
                hr
                | Gil Raz, CTO
                br
                a(href='https://inmedmd.com' target='_blank') Inmed
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Inmed",
                    "url": "https://inmedmd.com",
                    "image": "https://locize.com/img/customers/inmed.png",
                    "member": {
                      "@type": "Person",
                      "name": "Gil Raz"
                    }
                  },
                  "description": "Using locize, we were able to move all the responsibility for texts and languages away from the developers. It is also disconnected from version release, as the translators can change it at any time, even after the release. The 'in context' feature is particularly useful, as it allows the translators to know the context inside the site without bothering the developers or making mistakes with out-of-context.",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "Using locize, we were able to move all the responsibility for texts and languages away from the developers."
                      },
                      {
                        "@type": "ListItem",
                        "name": "It is also disconnected from version release, as the translators can change it at any time, even after the release."
                      },
                      {
                        "@type": "ListItem",
                        "name": "The 'in context' feature is particularly useful, as it allows the translators to know the context inside the site without bothering the developers or making mistakes with out-of-context."
                      }
                    ]
                  }
                }

        .row
          .col-lg-12.col-md-4.col-sm-12#2captcha
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/2captcha.png' alt="2captcha" loading="lazy")
              .testimonial-content
                p
                  | An excellent service for localization of large and not so large projects. 
                  br
                  | Our service has users from all over the world and localization is an important part of our project.
                p
                  | We have more than a dozen of translations and few more are in progress at the moment. Managing the locales manually without a proper tool would be a nightmare in this case.
                  br
                  | Combining translators from different countries in one service using a flexible permission management system is a really important thing when translating a big project like our service.
                  br
                  | It's important not just to translate certain words correctly, but also to see how this looks on the site without breaking anything. locize has this functionality, and it made our job a lot easier. 
                p(style="margin-bottom: 0px;")
                  | We use i18next as an internationalization framework. locize being perfectly integrated with the framework become a really good translation management tool for us.
                  nr
                  | Also we have some non standard cases like: different source languages for particular translations or custom fallbacks for different languages. With amazing assistance of locize team and the products' flexibility we were able to find solutions for all our cases.
              .author
                hr
                | Alex, Marketer
                br
                a(href='https://2captcha.com' target='_blank') 2captcha
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "2captcha",
                    "url": "https://2captcha.com",
                    "image": "https://locize.com/img/customers/2captcha.png",
                    "member": {
                      "@type": "Person",
                      "name": "Alex"
                    }
                  },
                  "description": "An excellent service for localization of large and not so large projects. Our service has users from all over the world and localization is an important part of our project. We have more than a dozen of translations and few more are in progress at the moment. Managing the locales manually without a proper tool would be a nightmare in this case. Combining translators from different countries in one service using a flexible permission management system is a really important thing when translating a big project like our service. It's important not just to translate certain words correctly, but also to see how this looks on the site without breaking anything. locize has this functionality, and it made our job a lot easier. We use i18next as an internationalization framework. locize being perfectly integrated with the framework become a really good translation management tool for us. Also we have some non standard cases like: different source languages for particular translations or custom fallbacks for different languages. With amazing assistance of locize team and the products' flexibility we were able to find solutions for all our cases.",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "An excellent service for localization of large and not so large projects. Our service has users from all over the world and localization is an important part of our project."
                      },
                      {
                        "@type": "ListItem",
                        "name": "We have more than a dozen of translations and few more are in progress at the moment. Managing the locales manually without a proper tool would be a nightmare in this case. Combining translators from different countries in one service using a flexible permission management system is a really important thing when translating a big project like our service. It's important not just to translate certain words correctly, but also to see how this looks on the site without breaking anything. locize has this functionality, and it made our job a lot easier."
                      },
                      {
                        "@type": "ListItem",
                        "name": "We use i18next as an internationalization framework. locize being perfectly integrated with the framework become a really good translation management tool for us. Also we have some non standard cases like: different source languages for particular translations or custom fallbacks for different languages. With amazing assistance of locize team and the products' flexibility we were able to find solutions for all our cases."
                      }
                    ]
                  }
                }

        .row
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/bookingmood.png' alt="bookingmood" loading="lazy")
              .testimonial-content
                p(style="font-size: 22px;") We were looking for an effective and affordable translation tool, and with locize we found the best solution.
                p(style="font-size: 22px;")
                  | By using locize we were able to translate our platform 
                  a(href='https://www.bookingmood.com' target='_blank') bookingmood.com
                  |  with	great ease and because our platform is continuously evolving, we can maintain our translations in realtime.
                p(style="font-size: 22px;") The customer support is great as well.
                p(style="font-size: 22px; margin-bottom: 3px;") Recommended!
              .author
                hr
                | Adriaan de Jager, co-owner
                br
                a(href='https://www.bookingmood.com' target='_blank') Bookingmood
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Bookingmood",
                    "url": "https://www.bookingmood.com",
                    "image": "https://locize.com/img/customers/bookingmood.png",
                    "member": {
                      "@type": "Person",
                      "name": "Adriaan de Jager"
                    }
                  },
                  "description": "We were looking for an effective and affordable translation tool, and with locize we found the best solution. By using locize we were able to translate our platform bookingmood.com with great ease and because our platform is continuously evolving, we can maintain our translations in realtime. The customer support is great as well. Recommended!",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "We were looking for an effective and affordable translation tool, and with locize we found the best solution."
                      },
                      {
                        "@type": "ListItem",
                        "name": "By using locize we were able to translate our platform bookingmood.com with great ease and because our platform is continuously evolving, we can maintain our translations in realtime."
                      },
                      {
                        "@type": "ListItem",
                        "name": "The customer support is great as well."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Recommended!"
                      }
                    ]
                  }
                }
          .col-lg-6.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/networkme.png' alt="networkme" loading="lazy")
              .testimonial-content
                p(style="font-size: 16px;") Networkme is a career discovery and development platform that helps students find the best job for them to start their careers.
                p(style="font-size: 17px; margin-bottom: 2px;")
                  | We have been using locize to manage translation across all web applications (more than 6 at the moment) for the past 6 months.
                  br
                  | For us, locize has been extremely important to manage the different translation scopes across the current 3 supported languages, allowing the marketing and business teams to participate in the copywriting without the need for developer intervention, which massively reduced the amount of time we shipped copy changes to production.
                  br
                  | The platform is very simple to use and intuitive, in fact, we didn't need more than a 15min brief explanation to introduce the tool to non-tech people.
                  br
                  | Overall we are very satisfied and highly recommend it!
                p(style="font-size: 14px; margin-bottom: 3px;")
                  | Read the full 
                  a(href='/blog/networkme-locize/') success story
                  | .
              .author(style="margin-top: 3px;")
                hr
                | Marcelo Manteigas, CTO & Co-founder
                br
                a(href='https://www.networkme.io' target='_blank') Networkme
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Bookingmood",
                    "url": "https://www.networkme.io",
                    "image": "https://locize.com/img/customers/networkme.png",
                    "member": {
                      "@type": "Person",
                      "name": "Marcelo Manteigas"
                    }
                  },
                  "description": "Networkme is a career discovery and development platform that helps students find the best job for them to start their careers. We have been using locize to manage translation across all web applications (more than 6 at the moment) for the past 6 months. For us, locize has been extremely important to manage the different translation scopes across the current 3 supported languages, allowing the marketing and business teams to participate in the copywriting without the need for developer intervention, which massively reduced the amount of time we shipped copy changes to production. The platform is very simple to use and intuitive, in fact, we didn't need more than a 15min brief explanation to introduce the tool to non-tech people. Overall we are very satisfied and highly recommend it!",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "We have been using locize to manage translation across all web applications (more than 6 at the moment) for the past 6 months."
                      },
                      {
                        "@type": "ListItem",
                        "name": "For us, locize has been extremely important to manage the different translation scopes across the current 3 supported languages, allowing the marketing and business teams to participate in the copywriting without the need for developer intervention, which massively reduced the amount of time we shipped copy changes to production."
                      },
                      {
                        "@type": "ListItem",
                        "name": "The platform is very simple to use and intuitive, in fact, we didn't need more than a 15min brief explanation to introduce the tool to non-tech people."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Overall we are very satisfied and highly recommend it!"
                      }
                    ]
                  }
                }

        .row
          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/finfollow.png' alt="FinFollow" loading="lazy")
              .testimonial-content
                p(style="font-size: 22px;") locize enables FinFollow to offer our service in multiple languages without hassle.
                p(style="font-size: 22px;") The machine translation functionality works really well and saves us a lot of time.
              .author
                hr
                | Martin Jägerstad, COO
                br
                a(href='https://www.finfollow.com' target='_blank') FinFollow
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "FinFollow",
                    "url": "https://www.finfollow.com",
                    "image": "https://locize.com/img/customers/finfollow.png",
                    "member": {
                      "@type": "Person",
                      "name": "Martin Jägerstad"
                    }
                  },
                  "description": "locize enables FinFollow to offer our service in multiple languages without hassle. The machine translation functionality works really well and saves us a lot of time.",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "locize enables FinFollow to offer our service in multiple languages without hassle."
                      },
                      {
                        "@type": "ListItem",
                        "name": "The machine translation functionality works really well and saves us a lot of time."
                      }
                    ]
                  }
                }

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/airtime.png' alt="Airtime" loading="lazy")
              .testimonial-content
                p(style="font-size: 17px;") At Airtime we like to move fast and release features quickly.
                p(style="font-size: 17px;") Integrating with locize was super fast and it proved to be the perfect solution for our internationalization needs.
                p(style="font-size: 17px;") The ability to decouple our translation process from code changes enables us to remain agile and keep our processes fast and simple.
              .author
                hr
                | Marton Csikos, CTO
                br
                a(href='https://airtimeux.com' target='_blank') Airtime
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Airtime",
                    "url": "https://www.airtimeux.com",
                    "image": "https://locize.com/img/customers/airtime.png",
                    "member": {
                      "@type": "Person",
                      "name": "Marton Csikos"
                    }
                  },
                  "description": "At Airtime we like to move fast and release features quickly. Integrating with Locize was super fast and it proved to be the perfect solution for our internationalization needs. The ability to decouple our translation process from code changes enables us to remain agile and keep our processes fast and simple.",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "At Airtime we like to move fast and release features quickly."
                      },
                      {
                        "@type": "ListItem",
                        "name": "Integrating with locize was super fast and it proved to be the perfect solution for our internationalization needs."
                      },
                      {
                        "@type": "ListItem",
                        "name": "The machine translation functionality works really well and saves us a lot of time."
                      }
                    ]
                  }
                }

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/biteful.png' alt="Biteful" loading="lazy")
              .testimonial-content
                p(style="font-size: 20px;") Locize is our go-to solution for handling translations.
                p(style="font-size: 20px;") We've been able to efficiently manage and deploy translations across multiple platforms and languages - even prototypes can be set up with multilingual support due to low timecost.
              .author
                hr
                | Erik Kaljumäe, CTO
                br
                a(href='https://biteful.app' target='_blank') Biteful
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Biteful",
                    "url": "https://biteful.app/",
                    "image": "https://locize.com/img/customers/biteful.png",
                    "member": {
                      "@type": "Person",
                      "name": "Erik Kaljumäe"
                    }
                  },
                  "description": "Locize is our go-to solution for handling translations. We've been able to efficiently manage and deploy translations across multiple platforms and languages - even prototypes can be set up with multilingual support due to low timecost.",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "Locize is our go-to solution for handling translations."
                      },
                      {
                        "@type": "ListItem",
                        "name": "We've been able to efficiently manage and deploy translations across multiple platforms and languages - even prototypes can be set up with multilingual support due to low timecost."
                      }
                    ]
                  }
                }

          .col-lg-3.col-md-4.col-sm-12
            .testimonial.testimonial-fullwidth
              .testimonial-title
                img.grayscale(style='max-height: 50px; max-width: 100%;', src='img/customers/outscraper.png' alt="outscraper" loading="lazy")
              .testimonial-content
                p(style="font-size: 22px;") Locize is a great tool that helped us to translate our platform. We love the ability to invite users (native speakers) with permission to edit specific languages.
                p(style="font-size: 22px;") Thank you locize Team!
              .author
                hr
                | Vlad, Co-founder
                br
                a(href='https://outscraper.com' target='_blank') Outscraepr
              script(type="application/ld+json").
                {
                  "@context": "http://schema.org/",
                  "@type": "Review",
                  "itemReviewed": {
                    "@id": "https://locize.com/#software"
                  },
                  "author": {
                    "@type": "Organization",
                    "name": "Outscraepr",
                    "url": "https://outscraper.com",
                    "image": "https://locize.com/img/customers/outscraper.png",
                    "member": {
                      "@type": "Person",
                      "name": "Vlad"
                    }
                  },
                  "description": "Locize is a great tool that helped us to translate our platform. We love the ability to invite users (native speakers) with permission to edit specific languages. Thank you locize Team!",
                  "positiveNotes": {
                    "@type": "ItemList",
                    "itemListElement": [
                      {
                        "@type": "ListItem",
                        "name": "Locize is a great tool that helped us to translate our platform. We love the ability to invite users (native speakers) with permission to edit specific languages. Thank you locize Team!"
                      }
                    ]
                  }
                }

  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Need some help getting started?
      p Get any questions you may have about integrating locize answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@locize.com') Contact us!

  script(type="application/ld+json").
    {
      "@context": "http://schema.org/",
      "@id": "https://locize.com/#software",
      "@type": "SoftwareApplication",
      "applicationCategory": "BrowserApplication",
      "operatingSystem": "All",
      "name": "locize",
      "description": "The continuous localization management platform that powers up your development and translation.",
      "url": "https://www.locize.com",
      "logo": "https://locize.com/img/locize_color.svg",
      "image": "https://locize.com/img/locize_color.svg"
    }