extends pug/layout.pug

block head
  title locize - data processing agreement (DPA)

block content

  section.section-tertiary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Data Processing Agreement (DPA)
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-8.col-md-offset-2(style="position: relative;")
          .legal(style="background-color: #fff; padding: 20px; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            :markdown-it(linkify)

              BETWEEN
              
              > inweso GmbH
              >
              > TIN No.: [CHE‑412.131.272](https://zh.chregister.ch/cr-portal/auszug/auszug.xhtml;jsessionid=ebb438085b65ae171ee4bda18bef?uid=CHE-412.131.272)
              >
              > Seuzachstrasse 8
              >
              > 8413 Neftenbach
              >
              >Switzerland
              
              
              (the “Data Processor”)

            
              AND

              > Each individual locize customer that inweso GmbH processes data for and that has not otherwise entered into a valid data processor agreement with inweso GmbH


              (the “Data Controller”)

              (hereinafter referred to individually as a “Party” or together as the “Parties”)

              ### 1. INTRODUCTION AND DEFINITIONS

              This Data Processing Agreement (“DPA”) specifies the Parties’ data protection obligations which arise from the Data Processor’s processing of personal data on behalf of the Data Controller for Services under the locize [Terms and Conditions](/terms.html) (the "Agreement") and the [privacy policy](/policy.html).

              The DPA is adopted as an appendix to the Agreement. In the event that any provision of this DPA is inconsistent with any term(s) of the Agreement, the DPA will prevail.

              (1) This Agreement regulates the rights and obligations of the Parties in the context of the processing of personal data on behalf of the customer.
              (2) This Agreement applies to all activities in which employees of the Data Processor or subcontractors commissioned [ordered] by the Data Processor process personal data of the Data Controller on its behalf.


              ### 2. PURPOSE, SCOPE AND RESPONSIBILITIES

              2.1 The Data Processor shall only process personal data in accordance with the terms of this DPA.

              2.2 The Data Processor shall process personal data for the limited purpose of performing the obligations set out under the Agreement.

              2.3 Data processing by the Data Processor shall include such actions as may be specified in the Agreement.

              2.4 The term of this DPA shall continue until the latter of the following; the termination of the Agreement, or the date at which the Data Processor ceases to process personal data for the Data Controller.


              ### 3. SUBJECT MATTER AND DATA FLOW
 
              The Data Processor is a software development company, assigned by the Data Controller to make available to the Data Controller software as a services for supporting the localization process. The content of this DPA reflects the limited amount of personal data the Data Processor handles for the Data Controller.

              #### Categories of Data Subjects
              
              Data Controller may submit Personal Data to the services, the extent of which is determined and controlled by Data Controller in its sole discretion, and which may include, but is not limited to Controller’s contacts and other end users including Controller’s employees, contractors, collaborators, customers, prospects, suppliers and subcontractors. Data Subjects also include individuals attempting to communicate with or transfer Personal Data to the Data Controller’s end users.

              #### Types of Personal Data
              
              Contact information (as defined in the [privacy policy](/policy.html)), the extent of which is determined and controlled by the Customer in its sole discretion.

              #### Subject-Matter and Nature of the Processing
              
              The subject-matter of processing of Personal Data by Processor is the provision of the services to the Controller that involves the Processing of Personal Data. Personal Data will be subject to those Processing activities as may be specified in the [Terms and Conditions](/terms.html) and the [privacy policy](/policy.html).
              
              Personal Data will be processed for purposes of providing the services set out, as further instructed by Controller in its use of the service, and otherwise agreed to in the Agreement.

              Processing shall begin on first usage of the services and continue indefinitely until termination of this Agreement or the Main Contract by either party.
              
              A general list of the data processed by the Data Processor can at every given time be required upon request to the Data Processor.

              #### Deletion or return of Company Personal Data

              Processor shall promptly and in any event within 20 business days of the date of cessation of any Services involving the Processing of Company Personal Data (the “Cessation Date”), delete and procure the deletion of all copies of those Company Personal Data.

              *Marking data as deleted will be done imediately and the definitive deletion will occur by an automatic cleaning routine.*

              *The data may be still existent in technical backups, wich will also be automatically deleted later on.*


              ### 4. CONTROLLER RESPONSIBILITY

              Within the scope of the Agreement and in its use of the services, Controller shall be solely responsible for complying with the statutory requirements relating to data protection and privacy, in particular regarding the disclosure and transfer of Personal Data to the Processor and the Processing of Personal Data. For the avoidance of doubt, Controller’s instructions for the Processing of Personal Data shall comply with the Data Protection Law. This DPA is Customer’s complete and final instruction to inweso GmbH in relation to Personal Data and that additional instructions outside the scope of DPA would require prior written agreement between the parties. Instructions shall initially be specified in the Agreement and may, from time to time thereafter, be amended, amplified or replaced by Controller in separate written instructions (as individual instructions).

              Controller shall inform Processor without undue delay and comprehensively about any errors or irregularities related to statutory provisions on the Processing of Personal Data.

              ### 5. OBLIGATIOMS OF PROCESSOR

              #### a. Compliance with Instructions

              The parties acknowledge and agree that Customer is the Controller of Personal Data and inweso GmbH is the Processor of that data. Processor shall collect, process and use Personal Data only within the scope of Controller’s Instructions. If the Processor believes that an Instruction of the Controller infringes the Data Protection Law, it shall immediately inform the Controller without delay. If Processor cannot process Personal Data in accordance with the Instructions due to a legal requirement under any applicable European Union or Member State law, Processor will (i) promptly notify the Controller of that legal requirement before the relevant Processing to the extent permitted by the Data Protection Law; and (ii) cease all Processing (other than merely storing and maintaining the security of the affected Personal Data) until such time as the Controller issues new instructions with which Processor is able to comply. If this provision is invoked, Processor will not be liable to the Controller under the Agreement for any failure to perform the applicable services until such time as the Controller issues new instructions in regard to the Processing.

              #### b. Security
              
              Processor shall take the appropriate technical and organizational measures to adequately protect Personal Data against accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or access to Personal Data. Such measures include, but are not limited to:

              i. the prevention of unauthorized persons from gaining access to Personal Data Processing systems,

              ii. the prevention of Personal Data Processing systems from being used without authorization,

              iii. ensuring that persons entitled to use a Personal Data Processing system gain access only to such Personal Data as they are entitled to accessing in accordance with their access rights, and that, in the course of Processing or use and after storage, Personal Data cannot be read, copied, modified or deleted without authorization,

              iv. ensuring that Personal Data cannot be read, copied, modified or deleted without authorization during electronic transmission, transport or storage on storage media, and that the target entities for any transfer of Personal Data by means of data transmission facilities can be established and verified,

              v. ensuring the establishment of an audit trail to document whether and by whom Personal Data have been entered into, modified in, or removed from Personal Data Processing systems,

              vi. ensuring that Personal Data is Processed solely in accordance with the Instructions,

              vii. ensuring that Personal Data is protected against accidental destruction or loss.

              Processor will facilitate Controller’s compliance with the Controller’s obligation to implement security measures with respect to Personal Data (including if applicable Controller’s obligations pursuant to Articles 32 to 34 (inclusive) of the GDPR), by (i) implementing and maintaining the security measures, (ii) complying with the terms of Section 5.d. (Personal Data Breaches); and (iii) providing the Controller with information in relation to the Processing.

              #### c. Confidentiality
              
              Processor shall ensure that any personnel whom Processor authorizes to process Personal Data on its behalf is subject to confidentiality obligations with respect to that Personal Data. The undertaking to confidentiality shall continue after the termination of the above-entitled activities.

              #### d. Personal Data Breaches
              
              Processor will notify the Controller without undue delay after it becomes aware of any Personal Data Breach affecting any Personal Data. At the Controller’s request, Processor will promptly provide the Controller with all reasonable assistance necessary to enable the Controller to notify relevant Personal Data Breaches to competent authorities and/or affected Data Subjects, if Controller is required to do so under the Data Protection Law.

              #### e. Deletion or Retrieval of Personal Data
              
              Other than to the extent required to comply with Data Protection Law, following termination or expiration of the Agreement, Processor will delete or return all Personal Data (including copies thereof) processed pursuant to this DPA. If Processor is unable to delete Personal Data for technical or other reasons, Processor will apply measures to ensure that Personal Data is blocked from any further Processing.

              Controller shall, upon termination or expiration of the Agreement and by way of issuing an Instruction, stipulate, within a period of time set by Processor, the reasonable measures to return data or to delete stored data. Any additional cost arising in connection with the return or deletion of Personal Data after the termination or expiration of the Agreement shall be borne by Controller.

              #### f. Data Protection Impact Assessments and Consultation with Supervisory Authorities
              
              To the extent that the required information is available to Processor and the Controller does not otherwise have access to the required information, Processor will provide reasonable assistance to Controller with any data protection impact assessments, and prior consultations with supervisory authorities or other competent data privacy authorities, which Controller reasonably considers to be required by article 35 or 36 of the GDPR or equivalent provisions of any other Data Protection Law, in each case solely in relation to the processing of Personal Data.

              
              ### 6. DATA SUBJECT REQUESTS

              Processor will enable Controller to respond to requests from Data Subjects to exercise their rights under the applicable Data Protection Law in a manner consistent with the functionality of the service. To the extent that Controller does not have the ability to address a Data Subject request, then upon Controller’s request Processor shall provide reasonable assistance to the Controller to facilitate such Data Subject request to the extent able and only as required by applicable Data Protection Law. Controller shall reimburse Processor for the commercially reasonable costs arising from this assistance.

              Processor will provide reasonable assistance, including by appropriate technical and organizational measures and taking into account the nature of the Processing, to enable Controller to respond to any request from Data Subjects seeking to exercise their rights under the Data Protection Law with respect to Personal Data (including access, rectification, restriction, deletion or portability of Personal Data, as applicable), to the extent permitted by the law.  If such request is made directly to Processor, Processor will promptly inform Controller and will advise Data Subjects to submit their request to the Controller. Controller shall be solely responsible for responding to any Data Subjects’ requests.


              ### 7. SUB-PROCESSORS

              #### a. Appointment of Sub-Processors
              
              Controller acknowledges and agrees to (a) the engagement as sub-Processors of Processor’s affiliated companies and the third parties listed on our [privacy policy](/policy.html), and (b) that Processor and Processor’s affiliated companies respectively may engage third-party sub-Processors in connection with the provision of the service.

              Where Processor engages sub-Processors, Processor will enter into a contract with the sub-Processor that imposes on the sub-Processor the same obligations that apply to Processor under this DPA. Where the sub-Processor fails to fulfill its data protection obligations, Processor will remain liable to the Controller for the performance of such sub-Processors obligations.

              Where a sub-Processor is engaged, the Controller must be granted the right to monitor and inspect the sub-Processor’s activities in accordance with this DPA and the Data Protection Law, including to obtain information from the Processor, upon written request, on the substance of the contract and the implementation of the data protection obligations under the sub-Processing contract, where necessary by inspecting the relevant contract documents.

              The provisions of this section shall mutually apply if the Processor engages a sub-Processor in a country outside the European Economic Area (“EEA”) not recognized by the European Commission as providing an adequate level of protection for personal data.  If, in the performance of this DPA, inweso GmbH transfers any Personal Data to a sub-Processor located outside of the EEA, inweso GmbH shall, in advance of any such transfer, ensure that a legal mechanism to achieve adequacy in respect of that processing is in place.

              #### b. Current Processor List and Notification or Objection to New Sub-Processors
              
              If the Processor intends to instruct sub-Processors other than the companies listed on the [privacy policy](/policy.html), the Processor will notify the Controller by updating the [privacy policy](/policy.html) and will give the Controller the opportunity to object to the engagement of the new sub-Processors within 14 days after being notified. The objection must be based on reasonable grounds. If the Processor and Controller are unable to resolve such objection, either party may terminate the Agreement by providing written notice to the other party.


              ### 8. DATA TRANSFER

              The Processor may not transfer or authorize the transfer of Data to countries outside the EU and/or the European Economic Area (EEA) without the prior written consent of the Company. If personal data processed under this Agreement is transferred from a country within the European Economic Area to a country outside the European Economic Area, the Parties shall ensure that the personal data are adequately protected. To achieve this, the Parties shall, unless agreed otherwise, rely on EU approved standard contractual clauses for the transfer of personal data.


              ### 9. GOVERNING LAW AND JURISDICTION

              9.1 This Agreement is governed by Swiss law.

              9.2 Any dispute arising in connection with this Agreement, which the Parties will not be able to resolve amicably, will be submitted to the exclusive jurisdiction of the courts of Zurich, subject to possible appeal to the Swiss Federal Supreme Court in Lausanne.


              ### 10. CHANGES TO OUR DPA

              This DPA may change from time to time inline with legislation or industry developments. We will not explicitly inform our website users of these changes but our clients will get informed 14 days upfront of any sensible change via in app notification and email. For website users we recommend that you check this page occasionally for any changes. Specific changes and updates are mentioned in the change log below.

              ------------

              ### 11. Change log

              #### 19/09/2019

              - made DPA publicly available

              #### 27/09/2019

              - reformats DPA

              ------------
