extends pug/layout.pug

block head
  title Leverage the power of locize for every team role | locize
  link(rel="canonical", href="/for-your-team.html")
  

block headDescription
  meta(name='description', content='Project managers, tech leads, translators, and developers should read this. Use locize to your advantage in every team job.')
  meta(property='og:title', content='Leverage the power of locize for every team role | locize')
  meta(property='og:description', content='Project managers, tech leads, translators, and developers should read this. Use locize to your advantage in every team job.')
  meta(name='twitter:title', content='Leverage the power of locize for every team role | locize')
  meta(name='twitter:description', content='Project managers, tech leads, translators, and developers should read this. Use locize to your advantage in every team job.')

block content
  
  section.section-white(style="padding-bottom: 0;")
    .container
      .row
        .col-lg-12.text-center
          .section-heading(style="margin-top: -20px;")
            h2 locize - brings your team together
            p.head For project managers, tech leads, translators and developers.
            p.text-muted Leverage the power of locize for every team role. It optimizes the way development and translation teams collaborate.
            p.text-muted(style="margin-top: 20px; margin-bottom: -60px;")
              i
                | As tech team leader / engineering manager you will have one less thing to worry actively about.
                br
                | It makes engineering teams faster, more efficient and saves money overall. 
                a(href='https://youtu.be/TFV_vhJs5DY', target='_blank') Check out 
                | what locize is able to offer you.
                br
                a(href='https://www.locize.app/register', target='_blank') Try the free trial
                | , set up your locize project, compare it with your existing process and validate it with your team members.
            hr


  section.section-primary.features.text-center
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 For Project / Translation Managers
            p.head
              | Being supportive - while tracking performance.
            hr
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 40px auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/dashboard_s.jpg', full='img/screenshots/screen/dashboard.png', alt='locize dashboard', loading='lazy')
              .col-md-6
                .feature-item
                  h3 Keep the overview
                  p Track project progress from your dashboard. All your projects including versions in one place.
                  p Drill down to get more information about each individual project, language, file.
                  p Never miss an untranslated segment again independent the numbers of projects you have to lead.
                    
          
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Powerful statistics
                  p Get insights for different metrics like modifications done, number of words per language, downloads done, special metrics for developers, etc.
                  p See how your project and success grow over time.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/stats_s.jpg', full='img/screenshots/screen/stats.png', alt='locize statistics', loading='lazy')
                    

      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/history_s.jpg', full='img/screenshots/screen/history.png', alt='locize history', loading='lazy')
              .col-md-6
                .feature-item
                  h3 History
                  p Who, when? We can't tell you why but at least who did a change to your translations.
                  p Be able to reply to those questions.
                    
          
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Order translations
                  p While you can let your translation done by freelancers or inhouse employees using locize itself you also got the options to directly order translations from inside locize.
                  p Currently you can order directly from TextMaster or BLEND.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/ordering_s.jpg', full='img/screenshots/screen/ordering.png', alt='locize ordering', loading='lazy')


      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/slack_s.jpg', full='img/screenshots/screen/slack.png', alt='locize notification', loading='lazy')
              .col-md-6
                .feature-item
                  h3 Keep your team up to date
                  p Keep your team up to date by enabling our notification integration with slack.
                  p Get notified when something noteworthy happens to your localization project.
                    
          
          //- .container-fluid
          //-   .row
          //-     .col-md-6
          //-       .feature-item
          //-         h3 Order translations
          //-         p While you can let your translation done by freelancers or inhouse employees using locize itself you also got the options to directly order translations from inside locize.
          //-         p Currently you can order directly from TextMaster or BLEND.
          //-     .col-md-6
          //-       .feature-item
          //-         .device-wrapper(style="margin: 0 auto 0;")
          //-           .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
          //-             .screen
          //-               img.img-responsive(src='img/screenshots/screen/ordering_s.jpg', alt='locize ordering', loading='lazy')



          
  section.section-tertiary.features.text-center
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 For Translators
            p.head
              | Being more efficient using locize.
            hr
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/translationmemory_s.jpg', full='img/screenshots/screen/translationmemory.png', alt='locize dashboard', loading='lazy')
              .col-md-6
                .feature-item
                  h3 Smart translation memory
                  p All the benefits of a translation memory. Reuse translations already done. Lookup used terminology.
                  p Take your translation memory with you exporting it to be used in SDL Trados or other localization tools.
          
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Incontext Editing
                  p Translate directly in your Website / Application. Every translation is a click away.
                  p Translating from within your context is the best way to understand the context of your translation.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/incontext_editor_s.jpg', full='img/screenshots/screen/incontext_editor.png', alt='locize statistics', loading='lazy')

      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/review_s.jpg', full='img/screenshots/screen/review.png', alt='locize review', loading='lazy')
              .col-md-6
                .feature-item
                  h3 Powerful review workflow
                  p You can enable the review workflow for specific languages.
                  p This way each time someone changes a translation, it will start a review workflow. The actual value will not be changed until someone will accept one of the translation proposals.
          
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Machine or generative AI translations
                  p Machine or generative AI translations can't replace human translations but can help you speeding up translations.
                  p Use the machine or generative AI translations for initial translation and edit the suggested translations to match the needed quality.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/mt_s.jpg', full='img/screenshots/screen/mt.png', alt='locize ordering', loading='lazy')


  section.section-secondary.features.text-center(style="padding: 100px 0 0;")
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 For Developers
            p.head
              | Less time needed for localization - means more time for coding
            hr
              
              
  section.section-gray#video(style="display: none;")
    .container
      .row
        .col-xs-10.col-xs-offset-1
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='1280', height='720', src='https://www.youtube-nocookie.com/embed/osScyaGMVqo?rel=0&controls=0&showinfo=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

  section.section-secondary.features.text-center
    .container
      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/api_s.jpg', full='img/screenshots/screen/api.png', alt='locize api')
              .col-md-6
                .feature-item
                  h3 Powerful API
                  p Build any integration against our API.
                  p Add new translations, add new versions and publish them to our CDN using a simple API call.
                    
          
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 CLI Tool
                  p Integrate our cli tool into your build process.
                  p Download translation files in any format provided by locize using your commandline.
                  p Synchronize your translations with locize without having to change your code.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/cli_s.jpg', full='img/screenshots/screen/cli.png', alt='locize commandline', loading='lazy')
                    

      .row
        .col-md-12
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/code_s.jpg', full='img/screenshots/screen/code.png', alt='locize code', loading='lazy')
              .col-md-6
                .feature-item
                  h3 Add new segments from code
                  p No need to add segments manually. Never leave your editor again to add translations.
                  p Using eg. i18next instrumenting your code for internationalization new segments get added to your locize project automatically.
          
          .container-fluid
            .row
              .col-md-6
                .feature-item
                  h3 Versioning
                  p Versioning is essential in development.
                  p Same goes for your translations. Keep multiple versions of your translations. Keep working on latest while your production translations stay untouched.
              .col-md-6
                .feature-item
                  .device-wrapper(style="margin: 0 auto 0;")
                    .device(data-device="MacbookPro", data-orientation="portrait", data-color="black", style="z-index: 0;")
                      .screen
                        img.img-responsive.modalify(src='img/screenshots/screen/versioning_s.jpg', full='img/screenshots/screen/versioning.png', alt='locize versioning', loading='lazy')


  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Need some help getting started?
      p Get any questions you may have about integrating locize answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@locize.com') Contact us!

  script.
    window.enableCookiesHook = function () {
      $('#video').show();
    };
    window.disableCookiesHook = function () {
      $('#video').hide();
    };
