extends pug/layout.pug

block headDescription
  meta(name='description', content='locize - The Translation Management for i18next (and any other i18n setup) by the creators of i18next')
  meta(property='og:title', content='locize - The Translation Management for i18next')
  meta(property='og:description', content='locize - The Translation Management for i18next (and any other i18n setup) by the creators of i18next')
  meta(name='twitter:title', content='locize - The Translation Management for i18next')
  meta(name='twitter:description', content='locize - The Translation Management for i18next (and any other i18n setup) by the creators of i18next')

block head
  title locize - Official Translation Management for i18next
  link(rel="canonical", href="/i18next.html")

block content

  section.section-gray(style="padding-bottom: 0;")
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2
              | The Translation Management for i18next 
              small(style="font-size: 22px;")
                a(href="https://docs.locize.com/integration/instrumenting-your-code#other-options", target="_blank") and any other i18n setup
            p.text-muted
              | i18next is not only one of the
              strong &nbsp;top open source internationalization frameworks
              | ,
              br
              | it's a 
              a(href="https://www.i18next.com/overview/supported-frameworks", target="_blank") complete ecosystem 
              | that helps you to localize your product from web to mobile and desktop.

  section.section-white
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Why i18next?
            img(src="/img/i18next-ecosystem.jpg" style="width: 80%;" alt="i18next ecosystem" loading="lazy")
            hr

      .row
        .col-md-12
          h3 Sustainability

          p.light-font i18next was created in late 2011. It's older than most of the libraries you will use nowadays, including your main frontend tech (<a href="/blog/how-to-internationalize-react-i18next/">React</a>, <a href="/blog/unleash-the-full-power-of-angular-i18next/">Angular</a>, <a href="/blog/i18next-vue/">Vue</a>, ...).

          h3 Maturity

          p.light-font Based on how long i18next already is available open source, there is no real i18n case that could not be solved with i18next.

          h3 Extensibility

          p.light-font
            | i18next can be used in any javascript (and a few non-javascript - .net, elm, iOS, android, ruby, ...) environment, with any UI framework, with any i18n format, ... 
            a(href="https://www.i18next.com/overview/supported-frameworks", target="_blank") the possibilities are endless.

          h3 Richness

          p.light-font There is a plenty of features and possibilities you'll get with i18next compared to other regular 18n frameworks.

          br
          p
            a(href="https://www.i18next.com/overview/comparison-to-others", target="_blank") Here you can find more information about why i18next is special.
          br
          p
            b New to i18next?
            br
            | Then have a look at 
            a(href="https://youtu.be/SA_9i4TtxLQ", target="_blank") this i18next crash course video
            | .

  section.section-gray#how-does-i18next-work
    .container
      .row
        .col-lg-12.text-center
          .section-heading(style="margin-bottom: 0;")
            h2 How does i18next work?
            img(src="/img/i18next_how_it_works.png" style="width: 80%;" alt="How does i18next work?" loading="lazy")
            hr

      .row
        .col-lg-12
          p At first, i18next seems to be a simple key/translation dictionary, but in reality it is an elaborated and very extensible i18n framework with a lot of power.
          p
            | It offers translations to be 
            a(href="https://www.i18next.com/how-to/add-or-load-translations", target="_blank") provided
            |  from 
            a(href="https://www.i18next.com/overview/plugins-and-utils#backends", target="_blank") different sources
            | , a 
            a(href="https://www.i18next.com/overview/plugins-and-utils#language-detector", target="_blank") language detection
            | , 
            a(href="https://www.i18next.com/translation-function/plurals", target="_blank") plural form resolutions
            | , 
            a(href="https://www.i18next.com/how-to/caching", target="_blank") caching
            | , 
            a(href="https://www.i18next.com/overview/plugins-and-utils#post-processors", target="_blank") post processing
            | , 
            a(href="https://www.i18next.com/overview/plugins-and-utils#i18n-formats", target="_blank") alternative i18n formats
            |  and 
            a(href="https://www.i18next.com/overview/plugins-and-utils", target="_blank") more
            | . You see it does not only offer the standard i18n features, like 
            a(href="https://www.i18next.com/translation-function/interpolation", target="_blank") interpolation
            | , 
            a(href="https://www.i18next.com/translation-function/formatting", target="_blank") formatting
            | , etc.
            br
            | But the best thing about it is certainly the limitless 
            a(href="https://www.i18next.com/overview/plugins-and-utils", target="_blank") ecosystem
            |  around i18next. We don't know of any other i18n framework with such a large community.
          p That's why we like i18next that much!


  section.section-primary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 We love open source
            h3
              | locize is the 
              a(href="https://www.i18next.com/misc/the-history-of-i18next", target="_blank", style="color: white;") official sponsor
              |  of i18next.
              p.text-muted(style="display: inline;") With using locize you directly support the future of i18next.
            hr

      .row
        .col-lg-12
          h3 The creators of i18next are also the founders of locize

          p The i18next community provided us with great feedback. Out of that response and our own experiences we learnt providing instrumentation for doing proper internationalization just is not enough.

          p Helping developers to get their applications translated is great - but there is more to it.

          ul.light-font
            li How do you integrate any translation services / agency?

            li How do you keep track of new or removed content?

            li How you handle proper versioning?

            li How you deploy translation changes without deploying your complete application?

            li and a lot more...
            
          h3 locize to the rescue

          p Having created the foundation with 
            a(href="https://www.i18next.com/", target="_blank", style="color: white;") i18next
            |  it was a long journey to 
            b localization as a service
            | .

          ul.light-font
            li
              a(href="https://docs.locize.com/integration/instrumenting-your-code", target="_blank", style="color: white;") Easy to integrate

            li
              a(href="/how-it-works.html#continouslocalization", target="_blank", style="color: white;") Continuous deployment? Continuous localization with a CDN!

            li Manage the translation files with ease

            li
              a(href="https://docs.locize.com/guides-tips-and-tricks/working-with-translators/localistars", target="_blank", style="color: white;") Order professional translations

            li Analytics & Statistics

            li
              a(href="https://docs.locize.com/whats-inside/cdn-content-delivery-network", target="_blank", style="color: white;") Profit from our content delivery network

            li
              a(href="https://docs.locize.com/more/versioning", target="_blank", style="color: white;") Versioning of your translations
            
            li
              a(href="https://docs.locize.com/whats-inside/auto-machine-translation", style="color: white;") Automatic and On-Demand Machine Translation

            li
              a(href="https://docs.locize.com/more/general-questions/how-is-locize-different-from-the-alternatives#service-lock-in", target="_blank", style="color: white;") Riskfree: Take your data with you

            li
              a(href="/pricing.html", style="color: white;") Transparent and fair pricing

            li and a lot more...

          br

        h2(style="font-size: 30px; margin-top: 10px;")
          b locize
          |  is the perfect translation management tool for your 
          b i18next
          |  project.
          h3(style="text-align: center;")
            | ➡️ 
            a(href="https://www.i18next.com", target="_blank", style="color: white;") i18next
            |  + 
            a(href="/", style="color: white;") locize
            |  = 
            a(href="/how-it-works.html#continouslocalization", style="color: white;") true continuous localization

  section.section-gray
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Already using i18next?
            p.text-muted Then the locize integration will be a breeze and you will manage your translation files with ease.
            hr

      .row
        .col-lg-12
          h3
            | Just use 
            a(href="https://github.com/locize/i18next-locize-backend", target="_blank") i18next-locize-backend
            |  as i18next backend

          figure
            pre
              code
                | import i18next from 'i18next';
                | import Backend from 'i18next-locize-backend';
                | 
                | i18next
                |   .use(Backend)
                |   .init({
                |     // ...other options
                |     backend: {
                |       projectId: '[PROJECT_ID]',
                |       apiKey: '[API_KEY]',
                |       referenceLng: '[LNG]'
                |     }
                |   });


          h3
            | Are you using 
            a(href="https://reactjs.org/", target="_blank") React
            | ?

          p
            a(href="https://github.com/locize/react-tutorial", target="_blank") Here
            |  you can find a step by step guide, which will unleash the full power of i18next in combination with locize.
            br
            | See how your developer experience with this localization workflow 
            a(href="https://youtu.be/osScyaGMVqo", target="_blank") could look like
            | .
            br
            | There's also the possibility to have an 
            a(href="https://youtu.be/VfxBpSXarlU", target="_blank") even more focused developer experience
            | , with the help of the 
            a(href="https://docs.locize.com/whats-inside/auto-machine-translation", target="_blank") auto-machinetranslation workflow
            |  and the use of the save missing keys functionality, new keys not only gets added to locize automatically, while developing the app, but are also 
            a(href="https://youtu.be/VfxBpSXarlU", target="_blank") automatically translated
            |  into the target languages using machine translation (like 
            a(href="https://cloud.google.com/translate", target="_blank") Google Translate
            | ).

          h4
            | Using  
            a(href="https://reactjs.org/", target="_blank") React
            | , but new to 
            a(href="https://www.i18next.com", target="_blank") i18next
            |?

          p
            | Check out this tutorial blog post: 
            a(href="/blog/how-to-internationalize-react-i18next/", target="_blank") "How to properly internationalize a React application using i18next"

          h4
            | Are you using 
            a(href="https://nextjs.org/", target="_blank") Next.js
            | ?
          
          p
            a(href="https://github.com/locize/next-i18next-locize", target="_blank") Here
            |  you can find an example with different approaches and a 
            a(href="/blog/next-i18next/", target="_blank") blog post
            |  explaining this.
          
          h4
            | Are you using 
            a(href="https://remix.run/", target="_blank") Remix
            | ?
          
          p
            a(href="https://github.com/locize/locize-remix-i18next-example", target="_blank") Here
            |  you can find a simple example and a 
            a(href="/blog/remix-i18next/", target="_blank") step by step tutorial
            | .

          h3
            | It works also on server side, like 
            a(href="https://nodejs.org", target="_blank") Node.js
            |  or 
            a(href="https://deno.land", target="_blank") Deno

          h4
            | Did you know internationalization is also important on your app's backend, like 
            a(href="https://nodejs.org", target="_blank") Node.js
            | ?

          p
            | In 
            a(href="/blog/how-does-server-side-internationalization-look-like/", target="_blank") this tutorial blog post
            |  you can check out how this works.
          p
            | And in 
            a(href="/blog/i18n-for-deno-with-i18next/", target="_blank") this tutorial blog post
            |  you can see it working also in 
            a(href="https://deno.land", target="_blank") Deno
            | .

          h3
            | Are you using 
            a(href="https://github.com/i18next/i18next-vue", target="_blank") Vue.js
            | ?

          p
            | Check out 
            a(href="/blog/i18next-vue/", target="_blank") this blog post
            | .

          h3
            | Are you still using 
            a(href="https://github.com/i18next/jquery-i18next", target="_blank") jQuery
            | ?

          p
            | Check out 
            a(href="/blog/how-to-jquery-i18next/", target="_blank") this blog post
            | .

          h3 Are you using a different technology?

          p
            a(href="https://www.i18next.com/overview/supported-frameworks", target="_blank") Here
            |  you can check if there is a supported i18next framework for you.
            br
            | If there is none suitable for your needs, there's always the possibility to directly integrate the 
            a(href="https://docs.locize.com/integration/api#fetch-namespace-resources") locize API
            |  on your own.

  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Need some assistance?
      p Get any questions you may have about our pricing or platform answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@locize.com') Contact us!

  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Why i18next?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Sustainability: i18next was created in late 2011. It's older than most of the libraries you will use nowadays, including your main frontend tech (React, Angular, Vue, ...). Maturity: Based on how long i18next already is available open source, there is no real i18n case that could not be solved with i18next. Extensibility: i18next can be used in any javascript (and a few non-javascript - .net, elm, iOS, android, ruby, ...) environment, with any UI framework, with any i18n format, ... the possibilities are endless. Richness: There is a plenty of features and possibilities you'll get with i18next compared to other regular 18n frameworks."
        }
      },{
        "@type": "Question",
        "name": "How does i18next work?",
        "acceptedAnswer": {
          "@type": "Answer",
          "image": "https://locize.com/img/i18next_how_it_works.png",
          "text": "At first, i18next seems to be a simple key/translation dictionary, but in reality it is an elaborated and very extensible i18n framework with a lot of power. It offers translations to be provided from different sources, a language detection, plural form resolutions, caching, post processing, alternative i18n formats and more. You see it does not only offer the standard i18n features, like interpolation, formatting, etc. But the best thing about it is certainly the limitless ecosystem around i18next. We don't know of any other i18n framework with such a large community. That's why we like i18next that much!"
        }
      },{
        "@type": "Question",
        "name": "Why we love open source?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "locize is the official sponsor of i18next. With using locize you directly support the future of i18next. The creators of i18next are also the founders of locize. locize is the perfect translation management tool for your i18next project. ➡️ i18next + locize = true continuous localization"
        }
      },{
        "@type": "Question",
        "name": "Already using i18next?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "Then the locize integration will be a breeze and you will manage your translation files with ease."
        }
      },{
        "@type": "Question",
        "name": "What is i18next?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "i18next is an internationalization-framework written in and for JavaScript. But it's much more than that. i18next goes beyond just providing the standard i18n features such as (plurals, context, interpolation, format). It provides you with a complete solution to localize your product from web to mobile and desktop."
        }
      },{
        "@type": "Question",
        "name": "What is react-i18next?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "react-i18next is a powerful internationalization framework for React / React Native which is based on i18next."
        }
      },{
        "@type": "Question",
        "name": "What is i18next-vue?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "i18next-vue is a powerful internationalization framework for Vue.js which is based on i18next."
        }
      },{
        "@type": "Question",
        "name": "What is next-i18next?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "next-i18next simplifies internationalization for your Next.js app without extra dependencies. Production ready: next-i18next supports passing translations and configuration options into pages as props with SSG/SSR/CSR support."
        }
      },{
        "@type": "Question",
        "name": "What is remix-i18next?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "remix-i18next simplifies internationalization for your Remix app without extra dependencies. Production ready: remix-i18next supports passing translations and configuration options into routes from the loader."
        }
      },{
        "@type": "Question",
        "name": "What's the best way to internationalize a React.js app?",
        "acceptedAnswer": {
          "@type": "Answer",
          "url": "https://locize.com/blog/how-to-internationalize-react-i18next/",
          "text": "Check out this guide."
        }
      },{
        "@type": "Question",
        "name": "What's the best way to internationalize a Next.js app?",
        "acceptedAnswer": {
          "@type": "Answer",
          "url": "https://locize.com/blog/next-i18next/",
          "text": "Check out this guide."
        }
      },{
        "@type": "Question",
        "name": "What's the best way to internationalize a Remix app?",
        "acceptedAnswer": {
          "@type": "Answer",
          "url": "https://locize.com/blog/remix-i18next/",
          "text": "Check out this guide."
        }
      }]
    }

  script(type="application/ld+json").
    {
      "@context": "https://schema.org/", 
      "@type": "BreadcrumbList", 
      "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Locize",
        "item": "https://locize.com/"  
      },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "The Translation Management for i18next and any other i18n setup",
        "item": "https://locize.com/i18next.html"  
      }]
    }