extends pug/layout.pug

block head
  title Locize Pricing - No plans - no paywalls - no catch 
  link(rel="canonical", href="/pricing.html")
  
block headDescription
  meta(name='description', content='Pricing of locize - There are no fixed price plans; all of your costs are flexible and depending on your actual consumption.')

block content

  section.section-white
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h1(style="font-size:7rem;") Pricing of locize
            h2 No plans - no paywalls - no catch
            p.text-muted
              | No fix price plans - all our
              strong &nbsp;costs are variable&nbsp;
              | and based on your real usage.
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-6.col-md-offset-3(style="position: relative;")
          .pricing(style="background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .pricing-name.text-center Scales with you
            .pricing-price-subtitle.text-center.text-muted Starting price
            .pricing-price.text-center
              small.currency $
              | 5
              small.text-muted (billed monthly)
            .pricing-start
              a.btn.btn-outline.btn-xl(href='https://www.locize.app/register', target='_blank', style="background-color: #ccc") Get started!
            .pricing-features
              | 14d free trial:
              ul
                li
                  | 14 days of free usage
                  span(style="font-size: small;")  (the trial ends after 14 days or as soon as you subscribe)
                li No credit card needed! No obligations!
            .pricing-features
              | All features included:
              ul
                li Unlimited Languages, Files, Users (Managers, Developers, Translators, ...)
                li Flexible integrations, InContext Editor
                li Publish to our CDN (public or private)
                li Continuous Localization Lifecycle
                li Online Translation Editor
                li Rich support for i18next, icu/messageformat, i18n-js (plurals, ...)
                li Smart Translation Memory
                li
                  | Translation ordering from our translation partners&nbsp;
                  a(href="services.html#translationservices"): i.fa.fa-info-circle
                li Import / Export JSON, XLIFF, XML, YAML, CSV, GETTEXT, RESX, TMX
                li Statistics, Versioning, History, Review Workflow
                li CLI and API Access, webhooks
                li
                  | Synchronize with your code repository, sync during build time&nbsp;
                  a(href="https://github.com/locize/locize-cli#synchronize-locize-with-your-repository-or-any-other-local-directory"): i.fa.fa-info-circle
                li Email Support

  section.section-white
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 How are costs calculated?
            hr

      .row
        .col-md-8
          p.text-muted Costs are calculated based on these metrics:

          h3 Words

          p.light-font For each word in your project, excluding versions. The cost for the amount of words fall recurring every month. The charge for words reflect costs for storage and network usage.

          h3 Modifications

          p.light-font Every modification done via editor (added, updated, deleted, copy) manually or via file import or API gets counted (excluding save missings, translation orders and <a href="https://docs.locize.com/more/versioning#a-overwrite-with-data-from" target="_blank">overwriting versions</a>). This cost reflects the usage of locize and enables us to charge less in times you use locize less.

          h3 Downloads

          p.light-font Download of translations from our CDN to your users get accounted. This costs are only charged if you directly use the translations served from our CDN.

          h3 Private Downloads

          p.light-font
            | Regular downloads are public. So those translations would be visible to public even during development. To avoid leaking confidential informations during development (eg. new features) you can use private publish options which only enables downloads using an API key - so the translations are not publicly accessible.
            br
            | Private downloads occur when using 
            a(href="https://docs.locize.com/integration/api#fetch-private-namespace-resources") the "Fetch private namespace resources" endpoint
            |  or 
            a(href="https://docs.locize.com/integration/api#fetch-filter-the-unpublished-namespace-resources") the "Fetch/filter the (unpublished) namespace resources" endpoint
            | .


        .col-md-4
          p.text-muted Prices are graduated:

          h6
            table.graduated-prices
              tr
                td(style="padding: 0px;") Words
                td.right per word

          table.graduated-prices
            tr
              td: strong first 10000:
              td.right $0.004
            tr
              td: strong next 20000:
              td.right $0.003
            tr
              td: strong next 20000:
              td.right $0.002
            tr
              td: strong next 200000:
              td.right $0.001
            tr
              td: strong more:
              td.right $0.0005

          h6
            table.graduated-prices
              tr
                td(style="padding: 0px;") Modifications
                td.right per modification

          table.graduated-prices
            tr
              td: strong first 1000:
              td.right $0.02
            tr
              td: strong next 2000:
              td.right $0.015
            tr
              td: strong next 2000:
              td.right $0.01
            tr
              td: strong next 20000:
              td.right $0.005
            tr
              td: strong more:
              td.right $0.003

          h6
            table.graduated-prices
              tr
                td(style="padding: 0px;") Downloads
                td.right per download

          table.graduated-prices
            tr
              td: strong first 500000:
              td.right $0.0001
            tr
              td: strong next 1000000:
              td.right $0.000075
            tr
              td: strong more:
              td.right $0.00005

          h6
            table.graduated-prices
              tr
                td(style="padding: 0px;") Private Downloads
                td.right per private download

          table.graduated-prices
            tr
              td: strong first 500000:
              td.right $0.001
            tr
              td: strong next 1000000:
              td.right $0.00075
            tr
              td: strong more:
              td.right $0.0005

      .row
        .col-lg-12.text-center
          p.lead.text-muted(style="margin-top: 30px;")
            | On your projects billing page you will always keep the overview of your costs.
            | A calculation example can be found 
            a(href="https://docs.locize.com/more/general-questions/why-is-the-pricing-so-complicated" target="_blank") here
            | .

      .row
        .col-md-7
        .col-md-5
          h6(style="float: right;") You also have the possibility to pay with the following currencies:

          table.graduated-prices
            tr
              td.right
                strong AUD:
              td.right $1.45 (USD $1)
            tr
              td.right
                strong CAD:
              td.right $1.35 (USD $1)
            tr
              td.right
                strong CHF:
              td.right SFr.1 (USD $1)
            tr
              td.right
                strong CNY:
              td.right ¥6.8 (USD $1)
            tr
              td.right
                strong EUR:
              td.right €0.98 (USD $1)
            tr
              td.right
                strong GBP:
              td.right £0.85 (USD $1)
            tr
              td.right
                strong JPY:
              td.right ¥135 (USD $1)

  section.section-primary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Why no fixed plans?
            p.text-muted While fixed plans are more common - variable prices are fair.
            hr

      .row
        .col-lg-12
          .text-center
            img(src="/img/cost_comparison.gif", style="width: 100%;" alt="cost comparison", loading='lazy')

          p.light-font(style="margin-top: 20px;") There are no permanent big raises of costs which were introduced by having to switch to a bigger plan because your plan reached a limit or because you needed some feature that was locked behind a paywall.

          h3 What does this mean for you?

          ul.light-font
            li Never being forced to be auto upgraded from a $49 to a $199 plan just because you cross a limit (words, pageviews, languages, users) just marginally
              i  (your real usage would be around $50 - but the plan forces you to use the "large plan" starting at $199).

            li Never pay a bigger plan just because of that one feature you need most but was not included in your current plan

            li Costs are based on your projects size and success

            li Costs adapt to your usage: having months with less modifications (usage of locize app) you pay less

            li Costs grow slower the bigger your project gets

            li No limit on users

            li No limit on languages

            li All the features - no paywalls

  section.section-gray
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 What costs do we have to expect?
            p.text-muted See what our customers pay...
            hr

      .row
        .col-12
          .text-center(style="margin-bottom: 15px;")
            img(src="/img/cost_distribution.png", style="width: 80%; margin: 0 25px;" alt="cost distribution", loading='lazy')

  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Need some assistance?
      p Get any questions you may have about our pricing or platform answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@locize.com') Contact us!
