extends pug/layout.pug

block head
  title locize - privacy policy

block content
  
  section.section-tertiary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Privacy policy
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-8.col-md-offset-2(style="position: relative;")
          .legal(style="background-color: #fff; padding: 20px; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            :markdown-it(linkify)
            
              ### We collect personal and activity data, which may be linked.

              We use technologies like cookies (small files stored on your browser), web beacons, or unique device identifiers to identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.

              We also may collect personally identifiable information that you provide to us, such as your name, address, phone number or email address.

              Our systems may associate this personal information with your activities in the course of providing service to you (such as pages you view or things you click on).

              Our service does not recognize the "Do Not Track" signal that may be available in some web browsers.

              ### We do not store or share your precise location.

              We do neither collect nor use your precise geographic location.

              ### You can request to see your personal data.

              You can sign into your account to see any personally identifiable information we have stored, such as your name, email, address or phone number. You can also contact us by email at [support@locize.com](mailto:support@locize.com) to request to see this information.

              ### We keep personal data until you delete it.

              We remove personally identifiable information (such as your name, address, email or phone number) and other preferences associated with your account promptly after you delete your account. We may retain other data indefinitely.

              ### We don't share your personal information with marketers.

              We generally do not share personally identifiable information (such as name, address, email or phone) with other companies for marketing purposes.

              ### Ad companies may collect anonymous data.

              Ad companies may use and collect anonymous data about your interests to customize content and advertising on other sites and applications. Interest and location data may be linked to your device, but is not linked to your identity.

              ### Analytics providers access data on our behalf.

              Analytics companies may access anonymous data (such as your IP address or device ID) to help us understand how our services are used. They use this data solely on our behalf. They do not share it except in aggregate form - no data is shared as to any individual user.

              ### We take steps to protect personal information.

              We take reasonable steps to secure your personally identifiable information against unauthorized access or disclosure. We encrypt transmission of data on pages where you provide payment information. However, no security or encryption method can be guaranteed to protect information from hackers or human error.
              Information we collect may be stored or processed on computers located in any country where we do business.

              ### Special situations may require disclosure of your data.

              To operate the service, we also may make identifiable and anonymous information available to third parties in these limited circumstances:

              (1) with your express consent,
              (2) when we have a good faith belief it is required by law,
              (3) when we have a good faith belief it is necessary to protect our rights or property, or
              (4) to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets.

              Your consent will not be required for disclosure in these cases, but we will attempt to notify you, to the extent permitted by law to do so.

              ### Privacy questions?

              If you have any questions or concerns about your privacy, please contact us:
              [support@locize.com](mailto:support@locize.com)

              ### Changes to the privacy policy

              Our privacy policy may change over time. Any material changes to our policies, we will be announced on our website or application. If the changes affect registered users, we will send a notice to you by email, push notification or text.


              *This privacy policy was last updated on April 20th, 2016.*
