extends pug/layout.pug

block head
  title Locize: Additional services provided
  link(rel="canonical", href="/services.html")
  

block headDescription
  meta(name='description', content='Explore partners or extra services of locize. You may enhance your locize experience...')
  meta(property='og:title', content='Locize: Additional services provided')
  meta(property='og:description', content='Explore partners or extra services of locize. You may enhance your locize experience...')
  meta(name='twitter:title', content='Locize: Additional services provided')
  meta(name='twitter:description', content='Explore partners or extra services of locize. You may enhance your locize experience...')

block content

  section.section-secondary#services
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Additional services provided by locize
            p.text-muted Extend your locize experience with those additional services.
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-4(style="position: relative;")
          .integration(style="height: 310px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center(style="margin-bottom: 0px;") locize - translation memory
            .text-center.text-muted The smart translation memory.

            .integration-features.no-overflow(style="margin-top: 10px;")
              p The smart translation memory provides you with suggestions of already translated segments and helps you to save time and keeping your translations consistent.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/whats-inside/translation-memory', target='_blank', style="background-color: #ccc") Learn more!

          .integration(style="margin-top:30px; height: 280px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center(style="margin-bottom: 0px;") locize - history
            .text-center.text-muted Track all changes to your translations.

            .integration-features.no-overflow(style="margin-top: 10px;")
              p History enables you to track the last changes done to your translations. It empowers you to prove anytime when a content fragment was changed.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/whats-inside/history', target='_blank', style="background-color: #ccc") Learn more!

        .col-md-4(style="position: relative;")
          .integration(style="height: 310px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center(style="margin-bottom: 0px;") locize - review workflow
            .text-center.text-muted Start a review workflow when your translations changes.

            .integration-features.no-overflow(style="margin-top: 10px;")
              p(style="font-size: 16px;") You can enable the review workflow for specific languages. This way each time someone changes a translation, it will start a review workflow. The actual value will not be changed until someone will accept one of the translation proposals.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/whats-inside/review-workflow', target='_blank', style="background-color: #ccc") Learn more!

          .integration(style="margin-top:30px; height: 280px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center(style="margin-bottom: 0px;") SAML single sign-on (SSO)
            .text-center.text-muted $20 per month

            .integration-features.no-overflow(style="margin-top: 10px;")
              p SAML single sign-on (SSO) gives users access to locize through an identity provider (IDP) of your choice.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/whats-inside/user-management#saml-single-sign-on-sso', target='_blank', style="background-color: #ccc") Learn more!

        .col-md-4(style="position: relative;")
          .integration(style="height: 620px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center locize - auto machine translation
            .text-center.text-muted Automate translation work (the smart way)
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | free
              sup 1)
            .integration-features
              p The machine translation feature enables every new content to get automatically translated into all other defined target languages (like Google Translate).
              
              div(style="font-style: italic;")
                | There's also the possibility to have an 
                a(href="https://youtu.be/VfxBpSXarlU", target="_blank") high focused developer experience
                | , with the help of the 
                a(href="https://docs.locize.com/whats-inside/auto-machine-translation", target="_blank") auto-machinetranslation workflow
                |  and the use of the save missing keys functionality, new keys not only gets added to locize automatically, while developing the app, but are also 
                a(href="https://youtu.be/VfxBpSXarlU", target="_blank") automatically translated
                |  into the target languages using machine translation (like 
                a(href="https://cloud.google.com/translate", target="_blank") Google Translate
                | ).
              br

              div(style="font-style: italic; font-size: 10px;")
                | 1) Each automatically machine translated key counts as normal modification.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/whats-inside/auto-machine-translation', target='_blank', style="background-color: #ccc") Learn more!

      .row(style="margin-top: 30px;")
        .col-md-4(style="position: relative;")
          .integration(style="height: 620px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center locize - Figma plugin
            .text-center.text-muted Bridging the gap between translation and product design.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | free
            .integration-features
              p Increase your overall translation quality and reduce feedback loops. Validate your product design with translated content. And Send missing translations to locize.

              div(style="font-style: italic;")
                | The 
                a(href="https://www.figma.com/community/plugin/1049710666643539175/locize", target='_blank') locize Figma plugin
                |  allows you to send text content to your locize project, directly from within Figma and to fetch translations from locize to test your designs. Bridging the gap between translation and product design with our Figma integration creates an efficient workflow from end-to-end.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/more/figma-plugin', target='_blank', style="background-color: #ccc") Learn more!

        .col-md-4(style="position: relative;")
          .integration(style="height: 620px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center locize - Multi-Tenant
            .text-center.text-muted Per-customer translations or customer specific “overrides".
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | free
            .integration-features
              p Are you offering a customized software for your customers, and you like to anticipate translations that could be overridden by you on a per-customer basis or directly by your customer?

              div(style="font-style: italic;")
                | With locize you can create tenant projects based on your main project.
                br
                | All translations are anticipated for the tenant project and can be overridden, if necessary.
                br
                | But the anticipated translations are not just copied, so in case you need to correct a translation in your main project, it will be automatically populated to your tenants, if not overridden.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/more/multi-tenant', target='_blank', style="background-color: #ccc") Learn more!

        .col-md-4(style="position: relative;")
          .integration(style="height: 620px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center more services...
            .text-center.text-muted There are a lot more services and more are coming in future.
            .integration-features(style="margin-top: 22px;")
              h4
                a(href="https://docs.locize.com/integration/slack") Slack
              p(style="font-size: 14px") Enable the slack integration and choose on of your slack channels to get notified when something noteworthy happens in your localization project.
              
              h4
                a(href="https://docs.locize.com/integration/microsoft-teams") Microsof Teams
              p(style="font-size: 14px") Get directly notified in your Microsoft Teams channel if something noticeable happens.

              h4
                a(href="https://docs.locize.com/whats-inside/glossary") Glossary
              p(style="font-size: 14px") A glossary is a lexica that contains terminology to be used or not be used in the translations.

              h4 and more...
              p(style="font-size: 14px")
                | There's a lot more than that, 
                a(href="https://www.locize.app/register") find out yourself
                |  😉!
                br
                | We are continuously offering more services.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://youtu.be/ds-yEEYP1Ks', target='_blank', style="background-color: #ccc") Learn more!

  section.section-primary#translationservices
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Integrated translation partners
            p.text-muted Directly order translations from our partners.
            hr#othertranslationservices

  section.section-gray(style="padding: 0;")
    .container
      .row
        //- .col-md-4(style="position: relative;")
        //-   .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px; box-shadow: 5px 10px 20px 5px #144199;")
            .integration-name.text-center
              img(src="/img/services/localistars.svg", style="height: 45px; margin: -5px 25px;" alt="localistars", loading='lazy')
            .text-center.text-muted
              | Direct contact, no middleman – just collaborating 
              a(href="https://www.localistars.com", target="_blank") localistars
              | !
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | Pricing on request
            .integration-features
              p localistars is the go-to marketplace for clients and translators to get translation jobs done.
              p
                | You're in 
                a(href="https://youtu.be/T0giUsKS5KQ", target="_blank") direct contact
                |  with the translator – it's your project, you hold the reins. In contrast to other services we don't set the price and forward the contract to the cheapest translator to maximize our own profit. You choose the translator for your projects yourself, it's your contractor.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/guides-tips-and-tricks/working-with-translators#localistars-service', target='_blank', style="background-color: #ccc") Learn more!

        //- .col-md-4(style="position: relative;")
        //-   .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
        //-     .integration-name.text-center
        //-       img(src="/img/services/matecat.png", loading='lazy')
        //-     .text-center.text-muted The advanced cat tool.
        //-     .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
        //-       | Free
        //-     .integration-features
        //-       p MateCat is a free and open source translation tool. Companies, translation agencies, freelance translators and any other users can use it for free with no limitations on the number of projects and users.

        //-       div(style="font-style: italic;") You can directly export your namespaces to matecat from the namespace menu.

        //-     .integration-start
        //-       a.btn.btn-outline.btn-xl(href='https://www.matecat.com', target='_blank', style="background-color: #ccc") Learn more!


        .col-md-6(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center
              img(src="/img/services/textmaster.png" alt="textmaster", loading='lazy')
            .text-center.text-muted Your Professional SaaS Translation Service
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | $0.066 - $0.132 per word
            .integration-features
              p TextMaster’s translation services are ideal for a variety of projects: simple web content, high volume product catalogs or complex documents...
              p Offers general translation services as well as more specialized translation, including financial, technical, and legal.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://www.textmaster.com', target='_blank', style="background-color: #ccc") Learn more!

        .col-md-6(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center
              img(src="/img/services/blend.png", style="height: 50px; margin-bottom: -17px;" alt="onehour translation", loading='lazy')
            .text-center.text-muted End-to-end, multi-market localization solutions
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              |  $0.079 - $0.139 per word
            .integration-features
              p(style="font-size: 16px;") BLEND helps companies localize their business based on a unique understanding of local context, culture, subtlety, and consumer behavior. Our global community of 25,000+ translators, voice-over professionals, and language specialists provide end-to-end localization solutions for companies of all sizes and in all industries. Additionally, customers can  utilize BLEND Express (formerly One Hour Translation), our self-service translation platform, for personal and business projects.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://www.getblend.com', target='_blank', style="background-color: #ccc") Learn more!

  section.section-gray(style="padding: 0;")
    .container
      h3 Alternatively, you can:
      ul
        li
          a(href="https://docs.locize.com/guides-tips-and-tricks/working-with-translators#send-files", target="_blank") export and send files
          |  to your translators
        li
          a(href="https://docs.locize.com/guides-tips-and-tricks/working-with-translators#invite-them-to-your-project", target="_blank") invite them
          |  to your project
        li
          | create a new 
          a(href="https://docs.locize.com/guides-tips-and-tricks/working-with-translators#use-the-crowdbased-service-branched-projects", target="_blank") branched project
          |  on locize


  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Need some help getting started?
      p Get any questions you may have about integrating locize answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@locize.com') Contact us!
