extends pug/layout.pug

block head
  title locize - services

block content
  
  section.section-secondary#services
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Additional services provided by locize
            p.text-muted Extend your locize experience with those additional services.
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-4(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/tmx.png")
            .text-center.text-muted The smart translation memory.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | free
              sup 1)
            .integration-features
              p The smart translation memory provides you with suggestions of already translated segments and helps you to save time and keeping your translations consistent.
            
              div(style="font-style: italic;")
                | The translation memory consumes the published files of a project which will be cleared as regular download ($0.0001 per download).
                
            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/translation-memory.html', target='_blank', style="background-color: #ccc") Learn more!
            
        
        .col-md-4(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/auditing.png")
            .text-center.text-muted Track all changes to your translations.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | $0.02 per audit unit
              sup 1)
            .integration-features
              p Auditing enables you to track any changes done to your translations. It empowers you to prove anytime when a content fragment was changed. You can choose between a time to live starting from 3 months up to 10 years.
              
              div(style="font-style: italic;")
                | 1) Audit unit is calculated per modification multiplied with time to live, eg: 
                br
                | - You save 3 changes and auditing set to 3 years ttl: 3 * 3 -> 9 audit units
                br
                | - You save 4 changes and auditing set to 3 months ttl: 4 * 0.25 -> 1 audit unit
  
        .col-md-4(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/slack.png" style="height: 40px")
            .text-center.text-muted Keep your team notified.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | free
            .integration-features
              p Enable the slack integration and choose on of your slack channels to get notified when something noteworthy happens in your localization project.

            .integration-start
              a.btn.btn-outline.btn-xl(href='https://docs.locize.com/notifications.html#using-slack', target='_blank', style="background-color: #ccc") Learn more!
              

  section.section-primary#translationservices
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Translation partners
            p.text-muted Order translations from our partners.
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-4(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/matecat.png")
            .text-center.text-muted The advanced cat tool.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | Free
            .integration-features
              p MateCat is a free and open source translation tool. Companies, translation agencies, freelance translators and any other users can use it for free with no limitations on the number of projects and users.
              
              div(style="font-style: italic;") You can directly export your namespaces to matecat from the namespace menu.
            
            .integration-start
              a.btn.btn-outline.btn-xl(href='https://www.matecat.com', target='_blank', style="background-color: #ccc") Learn more!
            
                
        .col-md-4(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center
              img(src="/img/services/textmaster.png")
            .text-center.text-muted Your Professional SaaS Translation Service
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | $0.066 - $0.132 per word
            .integration-features
              p TextMaster’s translation services are ideal for a variety of projects: simple web content, high volume product catalogs or complex documents...
              p Offers general translation services as well as more specialized translation, including financial, technical, and legal.
              
            .integration-start
              a.btn.btn-outline.btn-xl(href='https://www.textmaster.com/', target='_blank', style="background-color: #ccc") Learn more!


        .col-md-4(style="position: relative;")
          .integration(style="height: 600px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/gengo.png")
            .text-center.text-muted Scalable solution with fast turnaround.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | $0.06 - $0.12 per word
            .integration-features
              p Want to translate thousands of product descriptions? Publish user reviews in multiple languages? Or grow your revenue and conversion rates? With Gengo, you can do all this and more.
              
            .integration-start
              a.btn.btn-outline.btn-xl(href='https://gengo.com/', target='_blank', style="background-color: #ccc") Learn more!
                

      .row(style="margin-top: 30px;")
        .col-md-4(style="position: relative;")
          .integration(style="height: 800px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/onehourtranslation.png")
            .text-center.text-muted Like Having Your Own Translator On Staff
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              |  $0.079 - $0.139 per word
            .integration-features
              p One Hour Translation provides professional, fast and affordable human translation services, available 24/7.
              
            .integration-start
              a.btn.btn-outline.btn-xl(href='https://www.onehourtranslation.com/', target='_blank', style="background-color: #ccc") Learn more!
      
      
        .col-md-4(style="position: relative;")
          .integration(style="height: 800px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center 
              img(src="/img/services/101translations.jpg", style="max-width: calc(100% - 50px); margin: 0 25px;")
            .text-center.text-muted Highly qualified professionals
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              |  Pricing on request
            .integration-features
              p We have been localising apps and web content into any language in the world since 2002. 
              
              p We take a human approach to translation with highly qualified professionals actually understanding your content before translating it, and extensive testing protocols to ensure your translated content reads and works as well as the original.
              
              div(style="font-style: italic;")
                | Get a quote by directly sending a mail with exported namespaces to 101translations. 
                br
                br
                | Use the import feature of locize to import the finished translations back.
                
              
            .integration-start
              a.btn.btn-outline.btn-xl(href='http://www.101translations.com/', target='_blank', style="background-color: #ccc") Learn more!
                    

        .col-md-4(style="position: relative;")
          .integration(style="height: 800px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center(style="margin-bottom: 15px;")
              img(src="/img/services/babbleon.png", style="height: 45px; margin: 0 25px;")
            .text-center.text-muted Translations done right the first time
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | $0.21 per word
            .integration-features
              p We are a team of 150+ native translators and professional localization experts. Big and small developers come to us when they can't afford any mistakes. We don't outsource; we don't promise anything we can't deliver. There is only one price and one level of quality &mdash; expert. We even help correct your English!
              
              div(style="font-style: italic;")
                | Upload your exported namespaces for a personalized quote using the Learn More button
                
              
            .integration-start
              a.btn.btn-outline.btn-xl(href='https://www.ibabbleon.com/apps', target='_blank', style="background-color: #ccc") Learn more!
          
      .row(style="margin-top: 30px;")
        .col-md-4(style="position: relative;")
          .integration(style="height: 800px; background-color: #fff; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            .integration-name.text-center(style="margin-bottom: 15px;")
              img(src="/img/services/acclaro.png", style="height: 45px; margin: 0 25px;")
            .text-center.text-muted High quality translations and lower costs.
            .text-center(style="font-size: 16px; font-weight: 600; margin-top: 30px;")
              | pricing on request
            .integration-features
              p Acclaro is a localization and translation company that helps the world’s leading brands succeed across cultures. 
              p Through a fine-tuned process, top industry talent and leading technologies, we make a long-term investment in our clients’ global reputations.
          
              div(style="font-style: italic;")
                | Working in over 100 languages and with offices around the globe, Acclaro specializes in helping clients open new markets and gain a competitive edge by expertly adapting their brands, products and services with faster turnaround times, high quality translations and lower costs.
                br
                br
                | You can request a quote
                a(href="https://www.acclaro.com/translation-services-cost/" target="_blank")  here
                | .
                
              
            .integration-start
              a.btn.btn-outline.btn-xl(href='www.acclaro.com', target='_blank', style="background-color: #ccc") Learn more!


  section#contact.contact.bg-tertiary(i18next-options='{"ns": "common"}')
    .container
      h2 Need some help getting started?
      p Get any questions you may have about integrating locize answered by one of our team members.
      a.btn.btn-outline.btn-xl.page-scroll(href='mailto:support@locize.com') Contact us!
