extends pug/layout.pug

block head
  title locize - terms of service
  
block content
  
  section.section-tertiary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 terms of service
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-8.col-md-offset-2(style="position: relative;")
          .legal(style="background-color: #fff; padding: 20px; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            :markdown-it(linkify)
            
              Welcome to locize (.com / .app / .io) an internet platform ("website") owned and operated by inweso GmbH, a Switzerland corporation (“locize”,” "we," "our", or "us"). In order to use our service including the locize.app / locize.io webapplication, API, CDN (“service”), you must agree to these terms of service (“terms” or “agreement”) which govern your access to and use of our website and service. These terms contain many legal disclosures that you should read carefully.

              These terms are a legally binding contract between you and locize. By using the service, you agree to be bound by these terms and that you are not barred under any applicable law from entering into this agreement. If you are using the service on behalf of an organization, you are agreeing to these terms for that organization and you represent that you have the authority to bind that organization to these terms. In that case, “you” and “your” will refer to that organization.

              locize reserves the right to update and change the terms of service from time to time. We will inform you by email and inside the application upon such changes. *Continued use of the service after any such changes shall constitute your consent to such changes.* You can review the most current version of the terms of service at any time at: [https://locize.com/terms.html](https://locize.com/terms.html)

              ### 1. Overview / General terms

              1.1. locize is a website providing certain services and multi-purpose translation tools.
              
              1.2. “Customer Content” means any data that Customer loads or enters into the service, or is otherwise accessed, stored, used, transmitted, or processed by Customer through the service, and all compilations and derivative works of such data.

              1.3. We may change the service over time as we refine and add more features or may need to stop, suspend, or modify the services, content or features. Features may be removed as we see those were not used any longer by our customers or we offer better replacement options for them. We may also remove any Customer Content from our service at our discretion with ten (10) days prior notice to Customer.

              ### 2. Availability of the locize service

              2.1. You understand and acknowledge that there may be interruptions in service both within and outside of our control. While we use reasonable efforts to keep the service accessible, the service may be unavailable for any reason including, without limitation, routine maintenance. Planned downtimes with expected durations longer than 30min will be announced upfront on the website.

              2.2. You understand and acknowledge that due to circumstances both within and outside of our control, access to the service may be interrupted, suspended or terminated. We retain the right at our sole discretion to deny service, or access to the service to anyone or an account, at any time and for any reason in accordance with Section 8 below. If reasonable and possible we will inform you upfront and search for solutions not having to take that steps.

              2.3. We will not be liable for any loss or damage that you may incur as a result of some sort of unavailability in connection with the service.

              ### 3. Registration

              3.1. You are required to register with locize if you want to use our service. You are solely responsible for your conduct, all Customer Content, and your communications with others while using the service. You are also solely responsible for any and all activities that occur under your account.

              3.2. The service provides features that allow you to share your words with others or to make it public. Please consider carefully what you choose to share or make public. locize has no responsibility for that activity. Additionally, you are fully responsible and liable for what you copy, share, upload, download or otherwise use while using the services. Please do not copy, upload, download, or share files unless you have the right to do so.

              ### 4. License to use and access the service

              4.1. Subject to these terms and any additional terms and conditions you may agree to with us, locize grants you a limited, revocable, non-transferable and non-exclusive license to use the service.

              4.2. These terms do not grant you any title or interest in the services, content, software or other intellectual property rights in or available through the service. Nothing in this agreement and/or in granting the License shall constitutes a waiver of our Intellectual Property under any law.

              4.3. Any new features that augment or enhance the current service, including the release of new tools and resources, shall be subject to the terms of service. Continued use of the service after any such changes shall constitute your consent to such changes.

              4.4. Any use of the service that constitutes abuse shall be determined by locize, in its sole discretion, and we reserve the right to terminate the contract, your account and our service if we determine you have not complied with these terms.

              ### 5. Proprietary Rights and Protection of Customer Data

              5.1. These terms do not grant you any title or interest in the service, software or other Intellectual Property rights in or available through the service. You may choose to or we may invite you to submit comments or ideas about the service, including without limitation about how to improve the service or our products (“ideas”). By submitting any idea, you agree that your disclosure is gratuitous, voluntarily and without restriction and will not place us under any fiduciary or other obligation, and that we are free to use the idea without any additional compensation to you, and/or to disclose the idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, we do not waive any rights to use similar or related ideas previously known to us, or developed by our employees, or obtained from sources other than you.

              5.2. The locize name and logo are the intellectual property of locize. These terms do not grant you any rights to use our trademarks, logos, domain names, or other brand features.
              
              5.3. Customer shall own all right, title and interest in and to all of the Customer Data (any data processed by Customer or its authorized users in the course of Customer’s use of the service).  Customer grants to locize sufficient rights to use the Customer Data solely in order to provide the service to Customer and for no other purpose. Locize will inform the Customer and obtain consent of Customer if locize wants to use Cus-tomer Data for other purposes.
              
              5.4. Locize shall implement and maintain at all times the appropriate technical and organizational security measures to protect Customer Data against unauthorized access to, or unauthorized alteration, disclosure, destruction of, or processing and against all other unlawful forms of processing, and that such security measures shall comply with industry best practices.
              
              5.5. Locize may be given access to Customer’s confidential information in order to perform its obligations under this Agreement. Locize shall hold Customer’s confidential information in confidence and shall maintain the confidentiality of such information using at least the same degree of care as it employs to safeguard its own confidential information, but no less than reasonable care. Locize shall not make Customer’s confidential information available to any third party, with the exception of third parties which we involve in the fulfilment of the contract, and shall not use Customer’s confidential information for any purpose other than to provide the service to Customer.

              5.6. Data Protection

              5.6.1. These Service Terms incorporate the [locize GDPR Data Processing Addendum (“DPA”)](/dpa.html), when the GDPR applies to your use of the locize Services to process Customer Data (as defined in the DPA).

              5.6.2. These Service Terms incorporate the [locize CCPA Terms (“CCPA Terms”)](/ccpa.html), when the CCPA applies to your use of the locize Services to process Personal Information (as defined in the CCPA Terms).

              ### 6. Subscription Plans, Payments, Renewals

              6.1. locize will charge you to use our service when you sign up for a monthly subscription (any subscription is referred to herein as “subscription”), which requires you to affirmatively select the subscription and purchase that subscription by entering your credit card information. We may also charge you for any order you submit for translations with a third party provider through our service in cases the third party provider does not charge on their behalf.

              6.2. You authorize us to charge and/or place a hold on your credit card with respect to any unpaid charges related to your use of the service. You authorize the issuer of the credit card to pay any amounts described herein without requiring a signed receipt, and you agree that your acceptance of this agreement is authorization to the issuer of the credit card to pay all such amounts. You authorize us to continue to attempt to charge and/or place holds with respect to all sums described herein, or any portion thereof, to your credit card until such amounts are paid in full.

              6.3. All monthly subscriptions will be billed on a recurring monthly basis on the monthly anniversary of your Initial subscription date.

              6.4. All subscriptions will automatically renew for successive terms of the same previous duration, requiring no additional action on your behalf. locize is not required to provide you notice of the automatic renewal. Should you desire to end the automatic renewal of your subscription, contact locize support at [support@locize.com](mailto:support@locize.com).

              6.5. Pricing of all services, including but not limited to subscriptions, are subject to change upon 10 days notice from us. Such notice may be provided at any time by e-mail to the owner of your subscription, posting the changes on the website, or the service itself.

              ### 7. Refunds

              7.1. All refunds related to locize, our service and subscriptions are at our sole and absolute discretion.

              7.2. We do not prorate refunds or offer partial refunds for monthly subscriptions.

              7.3. We do not refund payments for any order you submit for translations with a third party provider through our service, regardless of the quality of the product delivered by the third party provider.

              ### 8. Termination

              8.1. We may terminate, suspend access, remove and discard any Customer Content within the service, for any reason whatsoever, including without limitation if you breach the terms, with ten (10) days prior written notice to Customer to the end of a monthly anniversary of your initial subscription date. We may terminate your account immediately upon receiving reliable information involving a serious breach of these terms or your violation of any law, and will cooperate with law enforcement agencies on such matters.

              8.2. If we suspend or terminate your use, we will provide you with ten (10) days’ advance written notice and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these terms, a court order, or danger to other users) where we may suspend immediately. You agree that we shall not be liable to you or any third party for any termination of your access to the service in accordance to the terms.

              ### 9. Cancellation

              9.1. A customer may cancel its recurring billing subscription at any time. A cancellation means that no future payments are charged to the customer's account after the last open anniversary monthly payment balancing open costs. After cancellation, your access to locize will terminate on the next monthly anniversary of your subscription date.

              9.2. To cancel your subscription you must contact locize support at [support@locize.com](mailto:support@locize.com). The cancellation of a recurring billing product does not generate a refund. See section "Refunds" for more information on our refund policy.

              ### 10. Third Party Providers

              10.1. We may connect you to third party providers we recommend for translation services. locize does not endorse and is not responsible or liable for their availability, accuracy, the related content, products, or services. You are solely responsible for your use of any such websites or resources. You acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such third party provider.

              10.2. Ordering translation services from any of these third party providers is completely optional. Orders are received into a database system and are automatically dispatched to the third party providers. Upon completion, we will receive the translation and make it available to you. Locize does not verify the accuracy, completeness and quality of the translation. This is the sole responsibility of the customer.

              10.3. Any dates provided for delivery of the order are approximate only and do not lie in our responsibility; time is not of the essence for delivery or performance, and no delay shall entitle you to reject any delivery or performance or to repudiate the order. We will not be liable in any circumstances for the consequences of any delay in delivery or performance or failure to deliver or perform.

              10.4. We do not warrant that product descriptions or any translated information from your website is accurate, complete, reliable, current, or error-free. You agree that locize will not be held liable for any inaccurate, incomplete, unreliable or error with respect of the services and the translated information taken from your website.

              ### 11. Disclaimer of Warranties/Limitation of Liability
              
              11.1. Locize represents and warrants to Customer that it: (i) owns all right, title and interest, or possesses sufficient license rights, in and to the service as may be necessary to grant the rights and licenses, and provide the service, and for Customer to use the service, as set forth herein; (ii) the service does not and will not infringe, violate or misappropriate any intellectual property rights of any third party; and (iii) locize shall comply with all laws, rules and regulations applicable to its activities in connection with this Terms and the provision of the service.

              11.2. EXCEPT AS EXPRESSLY PROVIDED HEREIN, WE MAKE NO WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO ANY MATTER ARISING UNDER THIS AGREEMENT, INCLUDING, WITHOUT LIMITATION, SOFTWARE SERVICES, PROFESSIONAL TRANSLATION SERVICES, COMMUNITY TRANSLATION SERVICES AND MACHINE TRANSLATION SERVICES. EXCEPT AS EXPRESSLY PROVIDED HEREIN, YOU ACKNOWLEDGE THAT WE DO NOT WARRANT ACCESS TO THE TRANSLATED WEBSITES AND TRANSLATED CONTENT WILL BE UNINTERRUPTED, WITHOUT DEFECT AND ERROR, ABSOLUTELY SECURE, OR WITHOUT INFILTRATION OR COMPROMISE OF SECURITY SYSTEMS.

              11.3. locize specifically disclaims any liability with regard to any actions resulting solely from your use of or participation in the service or directly resulting from Customer Content. Any content downloaded arising from the service, made available or otherwise obtained through use of the service is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download. We assume no liability for any computer virus or similar code that is downloaded to your computer.

              11.4. We make no representations or warranties whatsoever about, and shall not be liable for, any third parties, their contents or services. Any dealings that you may have with such third parties are at your own risk.

              11.5. We will not be liable for any loss that you may incur as a result of someone else using your password or account or account information in connection with the service, either with or without your knowledge.

              11.6. You hereby indemnify and agree to protect, defend, save and hold locize, its officers, directors, employees, agents, representatives and vendors harmless from and against any and all claims, losses, damages, liabilities and expenses of whatever nature (including attorney’s fees), that are incurred or asserted by any party as a result of Customer’s use of the service.

              ### 12. GOVERNING LAW AND JURISDICTION

              12.1. This Agreement is governed by Swiss law.

              12.2. Any dispute arising out of or in connection with this Agreement, which the Parties will not be able to resolve amicably, will be submitted to the exclusive jurisdiction of the courts of Zurich, subject to possible appeal to the Swiss Federal Supreme Court in Lausanne.

              ------------

              ### 13. Change log
              
              #### 20/02/2016
              
              - terms of service instigated
              
              #### 01/04/2018
              
              - smaller update (notifications to customers upon changes to terms, pricing)
              - added 5.3 - 5.5

              #### 26/06/2020
              
              - added "governing law and jurisdiction"

              #### 17/07/2020
              
              - refined some wording

              #### 09/09/2020
              
              - added specific section for Data Protection

