extends pug/layout.pug

block head
  title locize - terms of service
  
block content
  
  section.section-tertiary
    .container
      .row
        .col-lg-12.text-center
          .section-heading
            h2 Terms of service
            hr

  section.section-gray(style="padding: 0;")
    .container
      .row
        .col-md-8.col-md-offset-2(style="position: relative;")
          .legal(style="background-color: #fff; padding: 20px; border: solid 1px #ccc; position: relative; top: -100px; width: 100%; border-radius: 4px;")
            :markdown-it(linkify)
            
              Welcome to locize.com an internet platform ("Website") owned and operated by inweso GmbH, a Switzerland corporation (“Locize”,” "we," "our", or "us"). In order to use our Service (“Service”), you must agree to these Terms of Service (“Terms” or “Agreement”) which govern your access to and use of our Website and Service. These Terms contain many legal disclosures that you should read carefully.

              These Terms are a legally binding contract between you and Locize. By using the Service, you agree to be bound by these Terms and that you are not barred under any applicable law from entering into this Agreement. If you are using the Service on behalf of an organization, you are agreeing to these Terms for that organization and you represent that you have the authority to bind that organization to these terms. In that case, “you” and “your” will refer to that organization.

              Locize reserves the right to update and change the Terms of Service from time to time without notice. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: [https://locize.com/terms](https://locize.com/terms)

              ### 1. Overview / General Terms

              1.1. Locize is a website providing certain services and multi-purpose translation tools.

              1.2. We may change the Service over time as we refine and add more features or may need to stop, suspend, or modify the Services, content or features at any time without prior notice to you. We may also remove any content from our Service at our discretion.

              ### 2. Availability of the Locize Service

              2.1. You understand and acknowledge that there may be interruptions in service both within and outside of our control. While we use reasonable efforts to keep the Service accessible, the Service may be unavailable for any reason including, without limitation, routine maintenance.

              2.2. You understand and acknowledge that due to circumstances both within and outside of our control, access to the Service may be interrupted, suspended or terminated. We retain the right at our sole discretion to deny service, or access to the Service to anyone or an account, at any time and for any reason.

              ### 3. Registration

              3.1. You are required to register with Locize if you want to use our Service. You are solely responsible for your conduct, the content of your website / application and words, and your communications with others while using the Service. You are also solely responsible for any and all activities that occur under your account.

              3.2. The Service provide features that allow you to share your words with others or to make it public. Please consider carefully what you choose to share or make public. Locize has no responsibility for that activity. Additionally, you are fully responsible and liable for what you copy, share, upload, download or otherwise use while using the Services. Please do not copy, upload, download, or share files unless you have the right to do so.

              ### 4. License to Use and Access the Service

              4.1. Subject to these Terms and any additional terms and conditions you may agree to with us, Locize grants you a limited, revocable, non-transferable and non-exclusive license to use the Service.

              4.2. These terms do not grant you any title or interest in the Services, content, software or other intellectual property rights in or available through the Service. Nothing in this Agreement and/or in granting the License shall constitutes a waiver of our Intellectual Property under any law.

              4.3. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.

              4.4. Any use of the Service that constitutes abuse shall be determined by Locize, in its sole discretion, and we reserve the right to terminate your account if we determine you have not complied with the Terms.

              ### 5. Proprietary Rights

              5.1. These Terms do not grant you any title or interest in the Service, content, software or other Intellectual Property rights in or available through the Service. You may choose to or we may invite you to submit comments or ideas about the Service, including without limitation about how to improve the Service or our products (“Ideas”). By submitting any Idea, you agree that your disclosure is gratuitous, unsolicited and without restriction and will not place us under any fiduciary or other obligation, and that we are free to use the Idea without any additional compensation to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further acknowledge that, by acceptance of your submission, we do not waive any rights to use similar or related ideas previously known to is, or developed by our employees, or obtained from sources other than you.

              5.2. The Locize name and logo are the intellectual property of Locize. These Terms do not grant you any rights to use our trademarks, logos, domain names, or other brand features. Our partners may also have additional proprietary rights in the content which they make available through the Service.

              ### 6. Subscription Plans, Payments, Renewals

              6.1. Locize will charge you to use our Service when you sign up for a monthly subscription (any subscription is referred to herein as “Subscription”), which requires you to affirmatively select the Subscription and purchase that Subscription by entering your credit card information. We may also charge you for any order you submit for translations with a third party provider through our Service in cases the third party provider does not charge on their behalf.

              6.2. You authorize us to charge and/or place a hold on your credit card with respect to any unpaid charges related to your use of the Service. You authorize the issuer of the credit card to pay any amounts described herein without requiring a signed receipt, and you agree that your acceptance of this Agreement is authorization to the issuer of the credit card to pay all such amounts. You authorize us to continue to attempt to charge and/or place holds with respect to all sums described herein, or any portion thereof, to your credit card until such amounts are paid in full.

              6.3. All monthly Subscriptions will be billed on a recurring monthly basis on the monthly anniversary of your Initial Subscription Date.

              6.4. All Subscriptions will automatically renew for successive terms of the same previous duration, requiring no additional action on your behalf. Locize is not required to provide you notice of the automatic renewal. Should you desire to end the automatic renewal of your Subscription, contact Locize Support at [support@locize.com](mailto:support@locize.com).

              6.5. Pricing of all Services, including but not limited to Subscriptions, are subject to change upon 30 days notice from us. Such notice may be provided at any time by e-mail to the owner of your Subscription, posting the changes on the Website, or the Service itself.

              ### 7. Refunds

              7.1. All refunds related to Locize, our Service and Subscriptions are at our sole and absolute discretion.

              7.2. We do not prorate refunds or offer partial refunds for monthly subscriptions.

              7.3. We do not refund payments for any order you submit for translations with a third party provider through our Service, regardless of the quality of the product delivered by the third party provider.

              ### 8. Termination

              8.1. We may terminate, suspend access, remove and discard any content within the Service, immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. We will also terminate your account upon receiving reliable information involving your violation of any law, and will cooperate with law enforcement agencies on such matters.

              8.2. If we suspend or terminate your use, we will try to provide you with advance notice and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend immediately. You agree that we shall not be liable to you or any third party for any termination of your access to the Service.

              ### 9. Cancellation

              9.1. A customer may cancel their recurring billing subscription at any time. A cancellation means that no future payments are charged to the customer's account. After cancellation, your access to Locize will terminate on the next monthly anniversary of your subscription date.

              9.2. To cancel your subscription you must contact Locize Support at [support@locize.com](mailto:support@locize.com). The cancellation of a recurring billing product does not generate a refund. See Refunds for more information on our refund policy.

              ### 10. Third Party Providers

              10.1. We may redirect you to third party providers we recommend for translation services. Locize does not endorse and is not responsible or liable for their availability, accuracy, the related content, products, or services. You are solely responsible for your use of any such websites or resources. You acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such third party provider.

              10.2. Ordering translation services from any of these third party providers is completely optional. Orders are received into a database system and are automatically dispatched to the third party providers. Upon completion, we will receive the translated content and make it available to you.

              10.3. Any dates provided for delivery of the order are approximate only; time is not of the essence for delivery or performance, and no delay shall entitle you to reject any delivery or performance or to repudiate the order. We will not be liable in any circumstances for the consequences of any delay in delivery or performance or failure to deliver or perform.

              10.4. We do not warrant that product descriptions or any translated information from your website is accurate, complete, reliable, current, or error-free. You agree that Locize will not be held liable for any inaccurate, incomplete, unreliable or error-in respect of the Services and the translated information on taken from your website.

              ### 11. Disclaimer of Warranties/Limitation of Liability

              11.1. EXCEPT AS EXPRESSLY PROVIDED HEREIN, WE MAKE NO WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE, WITH RESPECT TO ANY MATTER ARISING UNDER THIS AGREEMENT, INCLUDING, WITHOUT LIMITATION, SOFTWARE SERVICES, PROFESSIONAL TRANSLATION SERVICES, COMMUNITY TRANSLATION SERVICES AND MACHINE TRANSLATION SERVICES. EXCEPT AS EXPRESSLY PROVIDED HEREIN, YOU ACKNOWLEDGE THAT WE DO NOT WARRANT ACCESS TO THE TRANSLATED WEBSITES AND TRANSLATED CONTENT WILL BE UNINTERRUPTED, WITHOUT DEFECT AND ERROR, ABSOLUTELY SECURE, OR WITHOUT INFILTRATION OR COMPROMISE OF SECURITY SYSTEMS.

              11.2. Locize specifically disclaims any liability with regard to any actions resulting from your use of or participation in any Service provided and the content. Any content downloaded arising from the Service, made available or otherwise obtained through use of the Service is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download. We assume no liability for any computer virus or similar code that is downloaded to your computer.

              11.3. We make no representations or warranties whatsoever about, and shall not be liable for, any such third parties, their contents or services. Any dealings that you may have with such third parties are at your own risk.

              11.4. We will not be liable for any loss that you may incur as a result of someone else using your password or account or account information in connection with the service, either with or without your knowledge.

              11.5. You hereby indemnify and agree to protect, defend, save and hold Locize, its officers, directors, employees, agents, representatives and vendors harmless from and against any and all claims, losses, damages, liabilities and expenses of whatever nature (including attorney’s fees), that are incurred or asserted by any party as a result of the Service.

              *This terms of service was last updated on April 20th, 2016.*
