.cc_banner.cc_container.cc_container--open {
  background-color: rgba(0,0,0,0.7) !important;
}
.cc_btn.cc_btn_accept_all {
  border-radius: 0 !important;
  color: #fff !important;
  background-color: #1976D2 !important;
}
