section.customers {
  padding: 10px 0;
  background-color: @gray-lighter;
  border-top: solid 1px #ccc;
  .flex-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    display: inline-block;
    max-height: 60px;
    margin-bottom: 40px;
  }
  @media (min-width: 768px) {
    .flex-space {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    img {
      margin-bottom: 0;
    }
  }
}

// overrides benefits, features
section.testimonials {
  background-color: @gray-lighter;
  .section-heading {
      hr {
          border-color: rgba(0,0,0,.2);
      }
  }
  .testimonial-container {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    color: #555;
    font-weight: 300;
    max-width: 350px;
    background-color: white;
    padding: 30px 20px;
    margin: 10px auto;
    @media (min-width: 992px) {
      height: 520px;
    }
    @media (min-width: 1200px) {
      height: 580px;
    }
    .testimonial-content {
      flex-grow: 1;
      margin-bottom: auto;
    }
    .author {
      margin-top: auto;
      color: #222;
      font-style: italic;
      margin: 10px 0 0;
      hr {
          margin-bottom: 40px;
          border-color: rgba(0,0,0,.2);
      }
    }
    .testimonial-title {
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      display: inline-block;
      max-height: 60px;
      margin-bottom: 40px;
    }
  }
}
